In [1]:
import numpy as np
import xarray as xr
import rasterio
%matplotlib inline
from matplotlib.pyplot import *
from glob import glob
import os
import datetime

import pandas as pd

from rasterio import features

from rasterio_to_xarray import rasterio_to_xarray, xarray_to_rasterio

import rasterstats
import fiona

from tqdm import tqdm

from shapely.geometry import shape
from rasterstats.io import read_features

#from dask.diagnostics import ProgressBar

pbar = ProgressBar()
pbar.register()

pbar.unregister()

In [2]:
data = xr.open_mfdataset(r'C:\MAIACData\nc_monthly_daily\*.nc')['data']

In [3]:
# Subsetting params
x_start = 950
x_end = None

y_start = 950
y_stop = None

In [4]:
subset = data.isel(x=slice(x_start, y_stop), y=slice(y_start, y_stop))

In [5]:
subset = subset.isel(time=np.argsort(subset.time))

In [6]:
After2009 = subset.sel(time=slice('2009', '2016'))

## Monthly

In [27]:
monthly_data = After2009.resample('M', dim='time', how='mean', keep_attrs=True)

In [28]:
monthly_data

<xarray.DataArray 'data' (time: 66, y: 212, x: 290)>
dask.array<transpo..., shape=(66, 212, 290), dtype=float32, chunksize=(1, 212, 290)>
Coordinates:
  * x        (x) float64 2.461e+05 2.473e+05 2.486e+05 2.498e+05 2.511e+05 ...
  * y        (y) float64 2.356e+05 2.343e+05 2.33e+05 2.318e+05 2.305e+05 ...
  * time     (time) datetime64[ns] 2009-01-31 2009-02-28 2009-03-31 ...
Attributes:
    affine: [ -9.47639631e+05   1.25654304e+03   0.00000000e+00   1.42927781e+06
   0.00000000e+00  -1.25654304e+03]
    crs: +init=epsg:27700

In [29]:
data = monthly_data

The next few cells are the bits that convert the affine transform

In [30]:
# Get the actual Affine object from the data stored in the attrs
orig_aff = rasterio.Affine.from_gdal(*data.attrs['affine'])

In [31]:
def window_bounds(window, affine):
    (row_start, row_stop), (col_start, col_stop) = window
    w, s = (col_start, row_stop) * affine
    e, n = (col_stop, row_start) * affine
    return w, s, e, n

In [32]:
c, _, _, f = window_bounds( ( (x_start, 5000), (y_start, 5000)), orig_aff)  # c ~ west, f ~ north
a, b, _, d, e, _, _, _, _ = tuple(orig_aff)
new_aff = rasterio.Affine(a, b, c, d, e, f)

In [33]:
orig_aff

Affine(1256.5430440955893, 0.0, -947639.63051064778,
       0.0, -1256.5430440955893, 1429277.8120091767)

In [34]:
new_aff

Affine(1256.5430440955893, 0.0, 246076.26138016209,
       0.0, -1256.5430440955893, 235561.92011836683)

In [35]:
# Image to rasterize the polygons in to
rasterized_image = np.zeros(data.isel(time=0).shape, dtype=np.int)

# List to store dataframes in
dfs = []

feats = read_features(r'D:\Annies_Dissertation\Data\Boundaries\LSOA_Wessex.shp')

out_shape = data.isel(time=0).shape

This single line is the key thing that makes the code faster!

In [36]:
data = data.load()

KeyboardInterrupt:

In [19]:
data

<xarray.DataArray 'data' (time: 66, y: 212, x: 290)>
array([[[  7.46854973,   7.31030512,   7.47690392, ...,          nan,
                  nan,          nan],
        [  6.85919046,   6.87198734,   5.62207413, ...,          nan,
                  nan,          nan],
        [  8.83175087,   9.8598671 ,   5.67711639, ...,          nan,
                  nan,          nan],
        ...,
        [  8.56533813,   8.49901867,          nan, ...,          nan,
                  nan,          nan],
        [  8.56972504,          nan,          nan, ...,          nan,
                  nan,          nan],
        [         nan,          nan,          nan, ...,          nan,
                  nan,          nan]],

       [[ 15.02777386,   8.10723877,  12.05983162, ...,          nan,
                  nan,          nan],
        [         nan,          nan,   8.38002014, ...,          nan,
                  nan,          nan],
        [  9.77899742,  13.60194397,   9.22825813, ...,          nan,
                  nan,          nan],
        ...,
        [  7.86651468,   7.53197527,   6.01562214, ...,          nan,
                  nan,          nan],
        [  7.73766708,   5.96999502,   5.84572077, ...,          nan,
                  nan,          nan],
        [         nan,          nan,          nan, ...,          nan,
                  nan,          nan]],

       [[ 16.29265785,  18.2551899 ,  15.70465183, ...,          nan,
                  nan,          nan],
        [ 14.21675873,  14.24028111,  13.55061626, ...,          nan,
                  nan,          nan],
        [ 14.76556492,  15.59439945,  13.64008427, ...,          nan,
                  nan,          nan],
        ...,
        [  9.6961031 ,   9.14534187,   8.90093708, ...,          nan,
                  nan,          nan],
        [  9.3459568 ,   8.99110603,   8.76315212, ...,          nan,
                  nan,          nan],
        [         nan,          nan,          nan, ...,          nan,
                  nan,          nan]],

       ...,
       [[  6.94773722,   6.31843281,   4.54199171, ...,          nan,
                  nan,          nan],
        [  9.67956638,   9.69639111,   5.09622955, ...,          nan,
                  nan,          nan],
        [  7.82792282,  10.11916351,   9.44962883, ...,          nan,
                  nan,          nan],
        ...,
        [  3.93047118,   3.64932799,   3.5720942 , ...,          nan,
                  nan,          nan],
        [  4.04093313,   3.95748925,   3.79920125, ...,          nan,
                  nan,          nan],
        [         nan,          nan,          nan, ...,          nan,
                  nan,          nan]],

       [[  4.71395445,   4.6658659 ,   4.40036106, ...,          nan,
                  nan,          nan],
        [  5.04171038,   5.0481081 ,   4.94587183, ...,          nan,
                  nan,          nan],
        [ 13.61433411,   4.94194508,   5.00250244, ...,          nan,
                  nan,          nan],
        ...,
        [  3.76361942,   3.74471784,   3.3869071 , ...,          nan,
                  nan,          nan],
        [  3.75226283,   3.73324323,   3.82091713, ...,          nan,
                  nan,          nan],
        [         nan,          nan,          nan, ...,          nan,
                  nan,          nan]],

       [[ 10.36306953,   5.89186573,  10.36501312, ...,          nan,
                  nan,          nan],
        [  8.16923046,   8.1747303 ,  10.17381096, ...,          nan,
                  nan,          nan],
        [ 11.59241867,  11.33442116,  10.09692669, ...,          nan,
                  nan,          nan],
        ...,
        [  6.66913462,   6.45096636,   6.03128815, ...,          nan,
                  nan,          nan],
        [  6.37757158,   6.40227318,   6.13490295, ...,          nan,
                  nan,          nan],
        [         nan,          nan,          nan, ...,          nan,
                  nan,          nan]]], dtype=float32)
Coordinates:
  * x        (x) float64 2.461e+05 2.473e+05 2.486e+05 2.498e+05 2.511e+05 ...
  * y        (y) float64 2.356e+05 2.343e+05 2.33e+05 2.318e+05 2.305e+05 ...
  * time     (time) datetime64[ns] 2009-01-31 2009-02-28 2009-03-31 ...
Attributes:
    affine: [ -9.47639631e+05   1.25654304e+03   0.00000000e+00   1.42927781e+06
   0.00000000e+00  -1.25654304e+03]
    crs: +init=epsg:27700

In [20]:
# Loop over features (polygons) in the shapefile
for f in tqdm(feats):
    # Rasterize the polygon into an array
    rasterized_image = features.rasterize([(shape(f['geometry']),1)],
                                          out_shape=out_shape,
                                          transform=new_aff,
                                          fill=0,
                                          all_touched=True)

    # Extract from the xarray where the rasterized polygon is
    region = data.where(rasterized_image == 1)
    
    # Combine x and y into a new dimension called allpoints and calculate the mean over it
    # and then convert to a dataframe with an appropriate name
    res = region.stack(allpoints=['x','y']).mean(dim='allpoints').to_dataframe(name=f['properties']['LSOA11CD'])
    
    # Append to the list of data frames so we can concatenate them all at the end
    dfs.append(res)
    
stats = pd.concat(dfs, axis=1)

2575it [01:09, 36.38it/s]

In [37]:
stats

,E01014869,E01014890,E01015272,E01015273,E01015274,E01015275,E01015276,E01015277,E01015279,E01015280,...,E01033241,E01033242,E01033283,E01033285,E01033286,E01033288,E01033380,E01033381,E01033383,E01033384
time,,,,,,,,,,,,,,,,,,,,,
2009-01-31,4.894197,6.379436,11.609479,11.410336,11.650494,11.682238,11.347145,11.450066,11.536720,11.609479,...,11.536720,13.849295,11.536720,13.849295,12.915979,12.240013,10.188380,11.962096,11.962096,8.193390
2009-02-28,8.269163,8.117812,16.521988,17.099459,17.253952,19.085062,18.669735,17.370146,13.958913,16.521988,...,13.958913,18.481438,13.958913,18.481438,17.215921,16.913860,14.799878,16.302748,16.302748,11.476199
2009-03-31,16.443802,15.787933,24.719713,23.110231,22.489740,24.195459,22.043364,22.186796,25.243967,24.719713,...,25.243967,25.079872,25.243967,25.079872,25.198463,26.157143,15.213874,16.075760,16.075760,14.631869
2009-04-30,12.831035,12.642556,13.966952,15.072072,14.637295,12.367358,14.824835,14.989799,15.566546,13.966952,...,15.566546,19.950306,15.566546,19.950306,20.367689,20.624439,15.470265,15.977748,15.977748,15.075045
2009-05-31,9.983700,6.370895,14.851036,14.757053,14.214451,13.850450,14.209768,14.698997,15.851622,14.851036,...,15.851622,15.305582,15.851622,15.305582,17.040155,16.425224,13.010407,14.559179,14.559179,12.237666
2009-06-30,14.679679,13.817136,15.499490,17.341637,18.810036,15.580470,18.303200,17.797129,15.418509,15.499490,...,15.418509,21.191246,15.418509,21.191246,22.128574,21.482872,12.945766,15.101236,15.101236,12.648201
2009-07-31,11.896524,12.728112,21.609333,22.213881,22.655102,21.706160,22.564568,22.486118,21.512508,21.609333,...,21.512508,24.789444,21.512508,24.789444,25.428127,25.453865,14.245003,17.616417,17.616417,13.207088
2009-08-31,17.366266,8.997812,14.671386,15.520734,15.764976,14.220521,15.719976,16.175755,15.122251,14.671386,...,15.122251,17.737610,15.122251,17.737610,17.989836,18.541046,14.485721,15.198454,15.198454,13.455544
2009-09-30,11.546007,9.072837,16.571581,15.893867,15.805025,16.007593,15.273018,15.810766,17.135569,16.571581,...,17.135569,16.350376,17.135569,16.350376,16.094454,16.704769,15.732574,17.352114,17.352114,13.025869
2009-10-31,8.697833,9.306887,14.976901,15.424840,15.962790,16.716471,16.518593,15.286570,13.237331,14.976901,...,13.237331,13.000283,13.237331,13.000283,13.559897,13.826775,10.713559,12.608535,12.608535,10.269573
2009-11-30,5.488342,5.816244,13.472143,13.326997,14.088587,13.691173,13.363938,13.158889,13.253113,13.472143,...,13.253113,11.399950,13.253113,11.399950,11.213378,12.065765,11.131545,13.230770,13.230770,8.763731
2009-12-31,9.032913,9.865499,8.869758,9.490275,9.318064,8.659707,9.695508,9.348517,9.079808,8.869758,...,9.079808,11.978624,9.079808,11.978624,12.837976,11.638794,7.798804,8.043539,8.043539,7.605399
2010-01-31,8.074108,7.211493,7.773952,9.367728,9.678822,7.477477,10.016378,9.694018,8.070426,7.773952,...,8.070426,13.463318,8.070426,13.463318,13.396083,13.783846,5.150547,5.627737,5.627737,5.017043
2010-02-28,14.925032,15.940673,19.779760,18.430952,18.193981,19.717033,17.725185,18.003487,19.842487,19.779760,...,19.842487,22.667606,19.842487,22.667606,20.137033,19.553648,12.842671,14.586585,14.586585,11.193897
2010-03-31,9.648796,7.933636,13.292311,12.227306,10.803463,10.926511,10.511904,11.896752,15.658112,13.292311,...,15.658112,15.492365,15.658112,15.492365,15.338425,15.052990,11.196321,11.893770,11.893770,10.545163
2010-04-30,12.068913,10.465383,18.364841,18.523458,17.657255,17.764023,18.302355,18.438652,18.965662,18.364841,...,18.965662,18.071501,18.965662,18.071501,18.749935,17.826054,15.965533,16.043909,16.043909,15.613106
2010-05-31,9.601681,8.533235,11.480257,12.787391,13.428074,10.813763,13.107710,13.119411,12.146750,11.480257,...,12.146750,8.029475,12.146750,8.029475,8.192484,8.470964,11.770741,12.067854,12.067854,10.730881
2010-06-30,9.306105,8.149064,10.728844,12.440989,13.721837,11.713570,13.789424,12.999010,9.744119,10.728844,...,9.744119,15.106201,9.744119,15.106201,15.537864,15.521080,11.159347,13.506346,13.506346,10.462047
2010-07-31,8.165253,11.479817,17.084770,16.915024,17.047279,17.542801,17.059166,16.483982,16.626740,17.084770,...,16.626740,13.266294,16.626740,13.266294,13.919256,14.524405,11.652612,12.441680,12.441680,11.383171
2010-08-31,6.208467,7.386232,11.730207,12.080920,13.210400,13.161413,12.971878,12.272512,10.299002,11.730207,...,10.299002,12.352501,10.299002,12.352501,12.495230,11.842666,14.066373,14.151312,14.151312,15.352480
2010-09-30,10.867139,7.016661,15.078695,15.064517,15.612456,15.228891,15.132524,14.867039,14.928499,15.078695,...,14.928499,15.019508,14.928499,15.019508,16.355995,15.888650,13.180515,12.369337,12.369337,13.634810
2010-10-31,4.577707,4.467451,10.061832,10.282275,10.692778,10.815086,10.769123,10.693336,9.308578,10.061832,...,9.308578,9.974321,9.308578,9.974321,9.009274,9.557583,8.970596,9.558246,9.558246,9.528063
2010-11-30,6.014006,4.241180,7.897810,8.435908,9.507037,8.463559,8.987831,8.464372,7.332062,7.897810,...,7.332062,9.974091,7.332062,9.974091,10.856253,10.668451,9.968050,12.081381,12.081381,7.984747
2010-12-31,8.668041,10.178349,13.143812,10.284458,9.310347,14.530696,9.548223,10.144507,11.756927,13.143812,...,11.756927,12.045082,11.756927,12.045082,14.833046,14.014193,8.977460,8.375782,8.375782,8.087570
2011-01-31,5.582096,4.423071,12.289507,11.958020,12.871197,14.068691,12.681870,11.593499,10.510322,12.289507,...,10.510322,10.407117,10.510322,10.407117,9.504716,9.731771,11.053796,10.223026,10.223026,9.225975
2011-02-28,5.270328,4.596809,13.688326,13.819097,16.951843,20.381651,17.231144,13.538622,6.995001,13.688326,...,6.995001,18.455441,6.995001,18.455441,20.668428,16.090548,8.057274,10.505279,10.505279,8.946342
2011-03-31,11.506182,14.474870,34.112225,32.733517,32.616272,35.271183,32.623642,31.515121,32.953266,34.112225,...,32.953266,30.291607,32.953266,30.291607,30.673943,31.199549,33.639416,31.844139,31.844139,28.865459
2011-04-30,14.254741,15.914761,18.110867,18.279181,19.165329,19.201267,18.908541,18.378296,17.020464,18.110867,...,17.020464,18.258617,17.020464,18.258617,18.591345,19.078789,17.714993,18.467964,18.467964,14.051033
2011-05-31,14.729631,12.670700,13.034283,14.121380,16.152287,13.561242,14.928408,14.700422,12.507323,13.034283,...,12.507323,17.611160,12.507323,17.611160,17.356007,18.154816,10.173421,13.592541,13.592541,9.351582
2011-06-30,9.034540,9.912970,10.614342,10.543361,9.718155,9.274674,9.838036,10.759604,11.954008,10.614342,...,11.954008,15.263065,11.954008,15.263065,20.289679,20.598381,11.478963,14.697233,14.697233,10.899896
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2012-01-31,9.754252,9.596786,11.191071,11.337541,11.944909,12.153346,11.891914,11.451859,10.228795,11.191071,...,10.228795,13.410738,10.228795,13.410738,11.718692,11.551695,9.133640,10.249849,10.249849,8.309803
2012-02-29,7.640415,8.239361,14.836639,14.610316,15.031425,15.970848,15.064259,14.680536,13.702431,14.836639,...,13.702431,15.719810,13.702431,15.719810,16.361340,16.290806,14.451713,14.542307,14.542307,14.266115
2012-03-31,13.653416,11.842598,21.788055,22.170935,22.640127,21.882195,22.409443,21.944361,21.693918,21.788055,...,21.693918,25.709480,21.693918,25.709480,26.637051,26.039726,16.971178,18.998676,18.998676,15.893249
2012-04-30,13.737553,11.628886,16.828392,16.671410,15.748659,16.006239,16.181843,16.323864,17.650543,16.828392,...,17.650543,15.464664,17.650543,15.464664,16.949230,17.450680,12.341588,12.621214,12.621214,11.736242
2012-05-31,11.686541,9.040792,13.291565,13.463837,14.140222,13.521429,13.664906,13.451643,13.061700,13.291565,...,13.061700,19.670708,13.061700,19.670708,20.711142,21.466370,14.199147,16.500366,16.500366,10.997645
2012-06-30,24.576422,21.900684,12.297523,13.175916,14.482362,14.633374,14.783037,14.413233,9.961673,12.297523,...,9.961673,17.198143,9.961673,17.198143,20.175179,20.688526,25.451912,25.953033,25.953033,23.041363
2012-07-31,7.426673,6.503408,9.617847,10.371747,10.734545,10.044309,10.961927,10.827048,9.191386,9.617847,...,9.191386,12.818556,9.191386,12.818556,13.906880,14.195262,10.020001,10.786041,10.786041,9.831959
2012-08-31,20.222605,16.759089,15.975445,16.967167,17.992277,16.784550,17.867580,17.845901,15.166339,15.975445,...,15.166339,18.573879,15.166339,18.573879,20.144650,20.294617,13.775771,15.675760,15.675760,13.528056
2012-09-30,8.662121,7.829556,9.606607,10.744453,10.957172,8.618340,10.819242,11.489414,10.594876,9.606607,...,10.594876,13.229408,10.594876,13.229408,13.761276,13.136360,12.207561,13.065749,13.065749,11.343671
2012-10-31,5.789569,8.922488,9.621822,10.237657,11.583183,11.694120,11.581722,9.432350,7.549524,9.621822,...,7.549524,11.731380,7.549524,11.731380,10.059552,11.123518,11.369534,11.931654,11.931654,9.390759
2012-11-30,4.140850,2.914655,8.584433,9.340146,11.760993,9.258857,10.055216,10.392938,7.910008,8.584433,...,7.910008,12.954213,7.910008,12.954213,13.005142,13.294561,6.480954,9.771036,9.771036,6.440351
2012-12-31,4.527712,5.259722,6.963664,7.789634,7.921900,6.655417,8.048496,7.974009,7.271910,6.963664,...,7.271910,9.495327,7.271910,9.495327,10.651199,9.723451,5.752594,6.591484,6.591484,6.026381
2013-01-31,6.698851,5.239190,8.566266,8.649814,8.358732,8.949495,8.883203,8.642246,8.183037,8.566266,...,8.183037,10.409853,8.183037,10.409853,10.043160,9.973145,8.198572,8.980231,8.980231,6.992032
2013-02-28,10.370106,12.113716,15.102678,14.234664,14.303762,17.645443,15.072039,14.196027,12.559914,15.102678,...,12.559914,15.870552,12.559914,15.870552,15.528955,15.353166,9.958495,8.468252,8.468252,9.205453
2013-03-31,5.248752,10.153851,26.855774,25.281967,25.976355,26.564987,24.349672,24.524517,27.146559,26.855774,...,27.146559,26.406643,27.146559,26.406643,25.772629,23.349392,16.539680,17.103022,17.103022,12.879792
2013-04-30,8.094871,7.991707,9.966362,10.334037,10.321016,11.705468,11.387426,10.009848,8.227255,9.966362,...,8.227255,15.798726,8.227255,15.798726,16.450085,15.702084,6.535355,4.447410,4.447410,4.648635
2013-05-31,5.898426,8.187919,12.024889,12.036827,12.623138,12.552957,12.306831,12.235466,11.496820,12.024889,...,11.496820,14.598185,11.496820,14.598185,14.449900,14.444818,8.906415,9.192982,9.192982,8.394756
2013-06-30,11.082664,10.632541,14.906738,16.005880,16.641357,16.597086,17.400623,16.134497,13.216392,14.906738,...,13.216392,19.097507,13.216392,19.097507,19.881290,19.979908,13.130187,13.033279,13.033279,10.300530
2013-07-31,15.161915,13.690238,12.690435,14.448517,15.471326,13.459114,15.711897,15.833736,11.921757,12.690435,...,11.921757,22.368153,11.921757,22.368153,22.508850,22.516838,16.286253,17.219601,17.219601,14.623461
2013-08-31,10.585554,12.833485,16.301624,16.864580,18.344234,17.348736,17.669611,16.844368,15.254515,16.301624,...,15.254515,16.447575,15.254515,16.447575,16.039074,17.209305,13.557672,12.321518,12.321518,12.760908
2013-09-30,5.852232,7.582401,12.545623,12.875679,13.604317,13.913816,13.724804,13.389149,11.177429,12.545623,...,11.177429,15.536644,11.177429,15.536644,17.314461,16.891563,11.995682,13.524639,13.524639,11.320148
2013-10-31,10.280597,6.211206,11.601755,12.290217,11.378607,10.844718,12.255929,11.652944,12.358791,11.601755,...,12.358791,12.719503,12.358791,12.719503,11.897759,13.223660,11.751147,11.282636,11.282636,11.374761
2013-11-30,6.231761,5.897995,10.441008,10.350036,10.404591,11.180714,10.674402,9.831495,9.701303,10.441008,...,9.701303,10.946670,9.701303,10.946670,11.258427,11.320814,9.240534,10.189228,10.189228,7.701131
2013-12-31,4.705320,6.514391,7.043047,7.509512,7.985390,7.923116,8.182779,7.848756,6.162977,7.043047,...,6.162977,13.160157,6.162977,13.160157,12.674212,10.831377,7.945983,9.162264,9.162264,7.387822
2014-01-31,3.132600,3.443676,9.661566,10.018314,10.647093,10.288216,10.510014,9.826881,9.034915,9.661566,...,9.034915,10.854176,9.034915,10.854176,10.633108,10.687636,6.614101,6.956186,6.956186,6.378034
2014-02-28,7.746828,5.273092,13.267130,13.408912,15.927649,15.705999,14.699236,13.400202,10.828261,13.267130,...,10.828261,12.420772,10.828261,12.420772,12.689232,13.465956,13.111062,13.323996,13.323996,12.878300
2014-03-31,11.579463,9.312859,22.877888,22.603287,18.509302,21.984314,22.019197,22.670158,23.771463,22.877888,...,23.771463,22.507797,23.771463,22.507797,27.397667,26.634075,22.507315,21.102520,21.102520,22.636251
2014-04-30,6.788072,7.092188,13.132734,14.074651,14.678707,15.899852,15.929169,14.593510,10.365616,13.132734,...,10.365616,12.116205,10.365616,12.116205,13.895283,15.293145,15.534198,14.537754,14.537754,17.177961
2014-05-31,13.225942,10.863503,11.686646,13.189152,14.880707,14.397316,15.295740,14.652534,8.975975,11.686646,...,8.975975,14.067138,8.975975,14.067138,16.157106,16.759642,13.109971,13.590149,13.590149,13.751208
2014-06-30,12.125582,14.570254,11.985504,11.480354,14.497540,13.310874,11.890465,12.713320,10.660134,11.985504,...,10.660134,13.511873,10.660134,13.511873,15.420909,15.686915,14.303234,14.718204,14.718204,15.409837

In [38]:
stats = stats.dropna(how='all')

In [39]:
melted_stats = pd.melt(stats.reset_index(), id_vars='time', var_name='LSOA').dropna()

In [40]:
melted_stats

             time       LSOA      value
0      2009-01-31  E01014869   4.894197
1      2009-02-28  E01014869   8.269163
2      2009-03-31  E01014869  16.443802
3      2009-04-30  E01014869  12.831035
4      2009-05-31  E01014869   9.983700
5      2009-06-30  E01014869  14.679679
6      2009-07-31  E01014869  11.896524
7      2009-08-31  E01014869  17.366266
8      2009-09-30  E01014869  11.546007
9      2009-10-31  E01014869   8.697833
10     2009-11-30  E01014869   5.488342
11     2009-12-31  E01014869   9.032913
12     2010-01-31  E01014869   8.074108
13     2010-02-28  E01014869  14.925032
14     2010-03-31  E01014869   9.648796
15     2010-04-30  E01014869  12.068913
16     2010-05-31  E01014869   9.601681
17     2010-06-30  E01014869   9.306105
18     2010-07-31  E01014869   8.165253
19     2010-08-31  E01014869   6.208467
20     2010-09-30  E01014869  10.867139
21     2010-10-31  E01014869   4.577707
22     2010-11-30  E01014869   6.014006
23     2010-12-31  E01014869   8.668041
24     2011-01-31  E01014869   5.582096
25     2011-02-28  E01014869   5.270328
26     2011-03-31  E01014869  11.506182
27     2011-04-30  E01014869  14.254741
28     2011-05-31  E01014869  14.729631
29     2011-06-30  E01014869   9.034540
...           ...        ...        ...
170052 2012-01-31  E01033384   8.309803
170053 2012-02-29  E01033384  14.266115
170054 2012-03-31  E01033384  15.893249
170055 2012-04-30  E01033384  11.736242
170056 2012-05-31  E01033384  10.997645
170057 2012-06-30  E01033384  23.041363
170058 2012-07-31  E01033384   9.831959
170059 2012-08-31  E01033384  13.528056
170060 2012-09-30  E01033384  11.343671
170061 2012-10-31  E01033384   9.390759
170062 2012-11-30  E01033384   6.440351
170063 2012-12-31  E01033384   6.026381
170064 2013-01-31  E01033384   6.992032
170065 2013-02-28  E01033384   9.205453
170066 2013-03-31  E01033384  12.879792
170067 2013-04-30  E01033384   4.648635
170068 2013-05-31  E01033384   8.394756
170069 2013-06-30  E01033384  10.300530
170070 2013-07-31  E01033384  14.623461
170071 2013-08-31  E01033384  12.760908
170072 2013-09-30  E01033384  11.320148
170073 2013-10-31  E01033384  11.374761
170074 2013-11-30  E01033384   7.701131
170075 2013-12-31  E01033384   7.387822
170076 2014-01-31  E01033384   6.378034
170077 2014-02-28  E01033384  12.878300
170078 2014-03-31  E01033384  22.636251
170079 2014-04-30  E01033384  17.177961
170080 2014-05-31  E01033384  13.751208
170081 2014-06-30  E01033384  15.409837

[169981 rows x 3 columns]

In [41]:
melted_stats['month'] = melted_stats.time.dt.month

In [42]:
melted_stats['year'] = melted_stats.time.dt.year

In [43]:
melted_stats.head()

        time       LSOA      value  month  year
0 2009-01-31  E01014869   4.894197      1  2009
1 2009-02-28  E01014869   8.269163      2  2009
2 2009-03-31  E01014869  16.443802      3  2009
3 2009-04-30  E01014869  12.831035      4  2009
4 2009-05-31  E01014869   9.983700      5  2009

In [44]:
melted_stats.to_csv(r'D:\Annies_Dissertation\Analysis\Regression\Monthly_PM25_LSOA.csv')

## Validating with AP for a LSOA (E01017182) that is located within a pixel

In [ ]:
PM25 = xr.open_mfdataset(r'C:\MAIACData\nc_monthly_daily\*PM25.nc')['data']

In [ ]:
PM25

In [ ]:
a = PM25.attrs['affine']
a = rasterio.Affine.from_gdal(*a)
~a * (439040, 115775)

In [ ]:
PM25 = PM25.isel(time=np.argsort(PM25.time))

In [ ]:
After2009 = PM25.sel(time=slice('2009', '2016'))

In [ ]:
monthly_data = After2009.resample('M', dim='time', how='mean', keep_attrs=True)

In [ ]:
ts = monthly_data.isel(x=1103, y=1045).load()

In [ ]:
ts

In [ ]:
result = ts.to_dataframe()

In [ ]:
result.dropna()

In [ ]:
result.to_csv(r'D:\Annies_Dissertation\Analysis\Regression\Validation\Monthly_PM25_LSOA_Validation.csv')

### Joining data for pixel and LSOA to validate Rasterstats method

In [1]:
from dateutil.parser import parse

In [34]:
Pixel = pd.read_csv(r'D:\Annies_Dissertation\Analysis\Regression\Validation\Monthly_PM25_LSOA_Validation.csv', parse_dates=['time'])

In [66]:
Pixel[:10]

                 data       LSOA
time
2009-01-31   8.010561  E01017182
2009-02-28   7.790070  E01017182
2009-03-31  13.203969  E01017182
2009-04-30  14.404096  E01017182
2009-05-31  13.632330  E01017182
2009-06-30  11.638875  E01017182
2009-07-31  13.614918  E01017182
2009-08-31  12.393079  E01017182
2009-09-30  13.358428  E01017182
2009-10-31  12.025865  E01017182

In [36]:
Pixel = Pixel.set_index('time')

In [37]:
Pixel = Pixel[['data']].dropna()

In [38]:
Pixel['LSOA'] = 'E01017182'

In [58]:
Area = pd.read_csv(r'D:\Annies_Dissertation\Analysis\Regression\Monthly_PM25_LSOA.csv', parse_dates=['time'])

In [62]:
Area[:10]

                 LSOA      value
time
2009-01-31  E01014869   4.894197
2009-02-28  E01014869   8.269163
2009-03-31  E01014869  16.443802
2009-04-30  E01014869  12.831035
2009-05-31  E01014869   9.983700
2009-06-30  E01014869  14.679679
2009-07-31  E01014869  11.896524
2009-08-31  E01014869  17.366266
2009-09-30  E01014869  11.546007
2009-10-31  E01014869   8.697833

In [60]:
Area = Area.set_index('time')

In [61]:
Area = Area[['LSOA', 'value']].dropna()

In [64]:
E01 = Area.loc[Area['LSOA'] == 'E01017182']

In [65]:
E01

                 LSOA      value
time
2009-01-31  E01017182   8.010561
2009-02-28  E01017182   7.790070
2009-03-31  E01017182  13.203969
2009-04-30  E01017182  14.404096
2009-05-31  E01017182  13.632330
2009-06-30  E01017182  11.638875
2009-07-31  E01017182  13.614918
2009-08-31  E01017182  12.393079
2009-09-30  E01017182  13.358428
2009-10-31  E01017182  12.025865
2009-11-30  E01017182   7.563473
2009-12-31  E01017182   6.933330
2010-01-31  E01017182   2.834002
2010-02-28  E01017182   8.099767
2010-03-31  E01017182   5.791169
2010-04-30  E01017182  12.696402
2010-05-31  E01017182  10.230539
2010-06-30  E01017182   8.173983
2010-07-31  E01017182  15.436866
2010-08-31  E01017182   9.871422
2010-09-30  E01017182  14.359910
2010-10-31  E01017182   7.349367
2010-11-30  E01017182   5.709067
2010-12-31  E01017182   3.427713
2011-01-31  E01017182   6.085733
2011-02-28  E01017182   5.812774
2011-03-31  E01017182  25.315361
2011-04-30  E01017182  13.275676
2011-05-31  E01017182  17.412249
2011-06-30  E01017182  12.600299
...               ...        ...
2012-01-31  E01017182   8.698584
2012-02-29  E01017182  12.288255
2012-03-31  E01017182  16.118940
2012-04-30  E01017182  13.911578
2012-05-31  E01017182  14.500471
2012-06-30  E01017182  24.114754
2012-07-31  E01017182   9.818642
2012-08-31  E01017182  13.908880
2012-09-30  E01017182  11.292111
2012-10-31  E01017182   8.537384
2012-11-30  E01017182   4.896462
2012-12-31  E01017182   6.155602
2013-01-31  E01017182   7.236534
2013-02-28  E01017182  13.197854
2013-03-31  E01017182  13.385777
2013-04-30  E01017182  11.524849
2013-05-31  E01017182  11.079807
2013-06-30  E01017182  16.355505
2013-07-31  E01017182  18.687141
2013-08-31  E01017182  12.746965
2013-09-30  E01017182  13.937560
2013-10-31  E01017182  10.789170
2013-11-30  E01017182   7.118971
2013-12-31  E01017182   6.876851
2014-01-31  E01017182   5.029125
2014-02-28  E01017182  15.276940
2014-03-31  E01017182  17.115871
2014-04-30  E01017182   7.087861
2014-05-31  E01017182  11.811122
2014-06-30  E01017182  12.375697

[66 rows x 2 columns]

In [67]:
result = pd.merge(Pixel, E01, left_index=True, right_index=True)

In [68]:
result.dropna()

                 data     LSOA_x     LSOA_y      value
time
2009-01-31   8.010561  E01017182  E01017182   8.010561
2009-02-28   7.790070  E01017182  E01017182   7.790070
2009-03-31  13.203969  E01017182  E01017182  13.203969
2009-04-30  14.404096  E01017182  E01017182  14.404096
2009-05-31  13.632330  E01017182  E01017182  13.632330
2009-06-30  11.638875  E01017182  E01017182  11.638875
2009-07-31  13.614918  E01017182  E01017182  13.614918
2009-08-31  12.393079  E01017182  E01017182  12.393079
2009-09-30  13.358428  E01017182  E01017182  13.358428
2009-10-31  12.025865  E01017182  E01017182  12.025865
2009-11-30   7.563473  E01017182  E01017182   7.563473
2009-12-31   6.933330  E01017182  E01017182   6.933330
2010-01-31   2.834002  E01017182  E01017182   2.834002
2010-02-28   8.099767  E01017182  E01017182   8.099767
2010-03-31   5.791169  E01017182  E01017182   5.791169
2010-04-30  12.696402  E01017182  E01017182  12.696402
2010-05-31  10.230539  E01017182  E01017182  10.230539
2010-06-30   8.173983  E01017182  E01017182   8.173983
2010-07-31  15.436866  E01017182  E01017182  15.436866
2010-08-31   9.871422  E01017182  E01017182   9.871422
2010-09-30  14.359910  E01017182  E01017182  14.359910
2010-10-31   7.349367  E01017182  E01017182   7.349367
2010-11-30   5.709067  E01017182  E01017182   5.709067
2010-12-31   3.427713  E01017182  E01017182   3.427713
2011-01-31   6.085733  E01017182  E01017182   6.085733
2011-02-28   5.812774  E01017182  E01017182   5.812774
2011-03-31  25.315361  E01017182  E01017182  25.315361
2011-04-30  13.275676  E01017182  E01017182  13.275676
2011-05-31  17.412249  E01017182  E01017182  17.412249
2011-06-30  12.600299  E01017182  E01017182  12.600299
...               ...        ...        ...        ...
2012-01-31   8.698584  E01017182  E01017182   8.698584
2012-02-29  12.288255  E01017182  E01017182  12.288255
2012-03-31  16.118940  E01017182  E01017182  16.118940
2012-04-30  13.911578  E01017182  E01017182  13.911578
2012-05-31  14.500471  E01017182  E01017182  14.500471
2012-06-30  24.114754  E01017182  E01017182  24.114754
2012-07-31   9.818642  E01017182  E01017182   9.818642
2012-08-31  13.908880  E01017182  E01017182  13.908880
2012-09-30  11.292111  E01017182  E01017182  11.292111
2012-10-31   8.537384  E01017182  E01017182   8.537384
2012-11-30   4.896462  E01017182  E01017182   4.896462
2012-12-31   6.155602  E01017182  E01017182   6.155602
2013-01-31   7.236534  E01017182  E01017182   7.236534
2013-02-28  13.197854  E01017182  E01017182  13.197854
2013-03-31  13.385777  E01017182  E01017182  13.385777
2013-04-30  11.524849  E01017182  E01017182  11.524849
2013-05-31  11.079807  E01017182  E01017182  11.079807
2013-06-30  16.355505  E01017182  E01017182  16.355505
2013-07-31  18.687141  E01017182  E01017182  18.687141
2013-08-31  12.746965  E01017182  E01017182  12.746965
2013-09-30  13.937560  E01017182  E01017182  13.937560
2013-10-31  10.789170  E01017182  E01017182  10.789170
2013-11-30   7.118971  E01017182  E01017182   7.118971
2013-12-31   6.876851  E01017182  E01017182   6.876851
2014-01-31   5.029125  E01017182  E01017182   5.029125
2014-02-28  15.276940  E01017182  E01017182  15.276940
2014-03-31  17.115871  E01017182  E01017182  17.115871
2014-04-30   7.087861  E01017182  E01017182   7.087861
2014-05-31  11.811122  E01017182  E01017182  11.811122
2014-06-30  12.375697  E01017182  E01017182  12.375697

[66 rows x 4 columns]

In [69]:
result['Difference'] = result['data']- result['value']

In [70]:
result[:10]

                 data     LSOA_x     LSOA_y      value  Difference
time
2009-01-31   8.010561  E01017182  E01017182   8.010561         0.0
2009-02-28   7.790070  E01017182  E01017182   7.790070         0.0
2009-03-31  13.203969  E01017182  E01017182  13.203969         0.0
2009-04-30  14.404096  E01017182  E01017182  14.404096         0.0
2009-05-31  13.632330  E01017182  E01017182  13.632330         0.0
2009-06-30  11.638875  E01017182  E01017182  11.638875         0.0
2009-07-31  13.614918  E01017182  E01017182  13.614918         0.0
2009-08-31  12.393079  E01017182  E01017182  12.393079         0.0
2009-09-30  13.358428  E01017182  E01017182  13.358428         0.0
2009-10-31  12.025865  E01017182  E01017182  12.025865         0.0

In [71]:
result.Difference.value_counts()

0.0    66
Name: Difference, dtype: int64

In [72]:
result.groupby('Difference').count()

            data  LSOA_x  LSOA_y  value
Difference
0.0           66      66      66     66

## Yearly

In [11]:
yearly_data = After2009.resample('A', dim='time', how='mean', keep_attrs=True)

In [12]:
yearly_data

<xarray.DataArray 'data' (time: 6, y: 212, x: 290)>
dask.array<transpo..., shape=(6, 212, 290), dtype=float32, chunksize=(1, 212, 290)>
Coordinates:
  * x        (x) float64 2.461e+05 2.473e+05 2.486e+05 2.498e+05 2.511e+05 ...
  * y        (y) float64 2.356e+05 2.343e+05 2.33e+05 2.318e+05 2.305e+05 ...
  * time     (time) datetime64[ns] 2009-12-31 2010-12-31 2011-12-31 ...
Attributes:
    affine: [ -9.47639631e+05   1.25654304e+03   0.00000000e+00   1.42927781e+06
   0.00000000e+00  -1.25654304e+03]
    crs: +init=epsg:27700

In [13]:
data = yearly_data

In [14]:
# Get the actual Affine object from the data stored in the attrs
orig_aff = rasterio.Affine.from_gdal(*data.attrs['affine'])

In [15]:
def window_bounds(window, affine):
    (row_start, row_stop), (col_start, col_stop) = window
    w, s = (col_start, row_stop) * affine
    e, n = (col_stop, row_start) * affine
    return w, s, e, n

In [16]:
c, _, _, f = window_bounds( ( (x_start, 5000), (y_start, 5000)), orig_aff)  # c ~ west, f ~ north
a, b, _, d, e, _, _, _, _ = tuple(orig_aff)
new_aff = rasterio.Affine(a, b, c, d, e, f)

In [17]:
orig_aff

Affine(1256.5430440955893, 0.0, -947639.63051064778,
       0.0, -1256.5430440955893, 1429277.8120091767)

In [18]:
new_aff

Affine(1256.5430440955893, 0.0, 246076.26138016209,
       0.0, -1256.5430440955893, 235561.92011836683)

In [19]:
# Image to rasterize the polygons in to
rasterized_image = np.zeros(data.isel(time=0).shape, dtype=np.int)

# List to store dataframes in
dfs = []

feats = read_features(r'D:\Annies_Dissertation\Data\Boundaries\LSOA_Wessex.shp')

out_shape = data.isel(time=0).shape

In [20]:
data = data.load()

D:\Anaconda3\lib\site-packages\dask\array\numpy_compat.py:45: RuntimeWarning: invalid value encountered in true_divide
  x = np.divide(x1, x2, out)

In [21]:
# Loop over features (polygons) in the shapefile
for f in tqdm(feats):
    # Rasterize the polygon into an array
    rasterized_image = features.rasterize([(shape(f['geometry']),1)],
                                          out_shape=out_shape,
                                          transform=new_aff,
                                          fill=0,
                                          all_touched=True)

    # Extract from the xarray where the rasterized polygon is
    region = data.where(rasterized_image == 1)
    
    # Combine x and y into a new dimension called allpoints and calculate the mean over it
    # and then convert to a dataframe with an appropriate name
    res = region.stack(allpoints=['x','y']).mean(dim='allpoints').to_dataframe(name=f['properties']['LSOA11CD'])
    
    # Append to the list of data frames so we can concatenate them all at the end
    dfs.append(res)
    
stats = pd.concat(dfs, axis=1)

2578it [00:24, 104.86it/s]

In [22]:
stats

,E01014869,E01014890,E01014891,E01015272,E01015273,E01015274,E01015275,E01015276,E01015277,E01015279,...,E01033241,E01033242,E01033283,E01033285,E01033286,E01033288,E01033380,E01033381,E01033383,E01033384
time,,,,,,,,,,,,,,,,,,,,,
2009-12-31,11.056740,10.958618,10.680703,15.233035,15.614657,15.820494,15.245512,15.811707,15.684235,15.220558,...,15.220558,17.743645,15.220558,17.743645,18.015972,18.061174,13.105443,14.531994,14.531994,11.883699
2010-12-31,9.198227,8.324327,8.408011,12.563782,13.049275,13.424196,12.988467,13.504366,13.160589,12.139097,...,12.139097,14.032820,12.139097,14.032820,14.383579,14.215097,11.614311,12.219908,12.219908,11.361659
2011-12-31,9.872396,10.465442,10.453424,16.608112,16.794128,17.424191,17.384394,17.275280,16.854765,15.831831,...,15.831831,17.672132,15.831831,17.672132,18.272284,18.490141,15.904312,16.433113,16.433113,14.119357
2012-12-31,9.418056,8.765922,8.615190,12.270921,13.020046,13.808305,12.656074,13.587185,13.379829,11.885768,...,11.885768,16.277164,11.885768,16.277164,16.840157,16.948296,12.707359,14.076880,14.076880,11.542398
2013-12-31,9.172091,9.387990,8.886120,12.437767,12.870800,13.216434,13.343239,13.540052,13.102798,11.532296,...,11.532296,16.084095,11.532296,16.084095,16.323599,16.072855,11.489400,11.758610,11.758610,10.227263
2014-12-31,9.128167,8.018132,8.864597,14.177834,14.556643,15.937187,14.690467,15.002365,14.955285,13.665200,...,13.665200,14.386749,13.665200,14.386749,15.996344,16.168161,14.252884,14.098279,14.098279,14.398606

In [23]:
stats = stats.dropna(how='all')

In [24]:
melted_stats = pd.melt(stats.reset_index(), id_vars='time', var_name='LSOA').dropna()

In [25]:
melted_stats

            time       LSOA      value
0     2009-12-31  E01014869  11.056740
1     2010-12-31  E01014869   9.198227
2     2011-12-31  E01014869   9.872396
3     2012-12-31  E01014869   9.418056
4     2013-12-31  E01014869   9.172091
5     2014-12-31  E01014869   9.128167
6     2009-12-31  E01014890  10.958618
7     2010-12-31  E01014890   8.324327
8     2011-12-31  E01014890  10.465442
9     2012-12-31  E01014890   8.765922
10    2013-12-31  E01014890   9.387990
11    2014-12-31  E01014890   8.018132
12    2009-12-31  E01014891  10.680703
13    2010-12-31  E01014891   8.408011
14    2011-12-31  E01014891  10.453424
15    2012-12-31  E01014891   8.615190
16    2013-12-31  E01014891   8.886120
17    2014-12-31  E01014891   8.864597
18    2009-12-31  E01015272  15.233035
19    2010-12-31  E01015272  12.563782
20    2011-12-31  E01015272  16.608112
21    2012-12-31  E01015272  12.270921
22    2013-12-31  E01015272  12.437767
23    2014-12-31  E01015272  14.177834
24    2009-12-31  E01015273  15.614657
25    2010-12-31  E01015273  13.049275
26    2011-12-31  E01015273  16.794128
27    2012-12-31  E01015273  13.020046
28    2013-12-31  E01015273  12.870800
29    2014-12-31  E01015273  14.556643
...          ...        ...        ...
15438 2009-12-31  E01033288  18.061174
15439 2010-12-31  E01033288  14.215097
15440 2011-12-31  E01033288  18.490141
15441 2012-12-31  E01033288  16.948296
15442 2013-12-31  E01033288  16.072855
15443 2014-12-31  E01033288  16.168161
15444 2009-12-31  E01033380  13.105443
15445 2010-12-31  E01033380  11.614311
15446 2011-12-31  E01033380  15.904312
15447 2012-12-31  E01033380  12.707359
15448 2013-12-31  E01033380  11.489400
15449 2014-12-31  E01033380  14.252884
15450 2009-12-31  E01033381  14.531994
15451 2010-12-31  E01033381  12.219908
15452 2011-12-31  E01033381  16.433113
15453 2012-12-31  E01033381  14.076880
15454 2013-12-31  E01033381  11.758610
15455 2014-12-31  E01033381  14.098279
15456 2009-12-31  E01033383  14.531994
15457 2010-12-31  E01033383  12.219908
15458 2011-12-31  E01033383  16.433113
15459 2012-12-31  E01033383  14.076880
15460 2013-12-31  E01033383  11.758610
15461 2014-12-31  E01033383  14.098279
15462 2009-12-31  E01033384  11.883699
15463 2010-12-31  E01033384  11.361659
15464 2011-12-31  E01033384  14.119357
15465 2012-12-31  E01033384  11.542398
15466 2013-12-31  E01033384  10.227263
15467 2014-12-31  E01033384  14.398606

[15468 rows x 3 columns]

In [26]:
melted_stats['year'] = melted_stats.time.dt.year

In [27]:
melted_stats.head()

        time       LSOA      value  year
0 2009-12-31  E01014869  11.056740  2009
1 2010-12-31  E01014869   9.198227  2010
2 2011-12-31  E01014869   9.872396  2011
3 2012-12-31  E01014869   9.418056  2012
4 2013-12-31  E01014869   9.172091  2013

In [28]:
melted_stats.to_csv(r'D:\Annies_Dissertation\Analysis\Regression\Yearly_PM25_LSOA.csv')