## Set Libraries

In [1]:
import numpy as np
import xarray as xr
import rasterio
%matplotlib inline
from matplotlib.pyplot import *
from glob import glob
import os
import datetime

import pandas as pd

from rasterio import features

from rasterio_to_xarray import rasterio_to_xarray, xarray_to_rasterio

import rasterstats
import fiona

from tqdm import tqdm

from shapely.geometry import shape
from rasterstats.io import read_features

## Read in PM2.5 data in NetCDF format
- include [data] to ensure the data is loaded

In [2]:
data = xr.open_mfdataset(r'C:\MAIACData\nc_monthly_daily\*.nc')['data']

## Subset the data to cover Wessex area
- Specify the subsetting parameters
- Slice the data in the x and y dimensions
- Sort data along the time dimension
- Subset the data to 2009 onwards- as Hospital Admission data is only available 2009-mid2014

In [3]:
# Subsetting params
x_start = 950
x_end = None

y_start = 950
y_stop = None

In [4]:
subset = data.isel(x=slice(x_start, y_stop), y=slice(y_start, y_stop))

In [5]:
subset = subset.isel(time=np.argsort(subset.time))

In [6]:
After2009 = subset.sel(time=slice('2009', '2016'))

In [7]:
data = subset

## Create Monthly Average PM2.5 data
- Use the resample function to create mean monthly PM2.5 data

In [8]:
monthly_data = After2009.resample('M', dim='time', how='mean', keep_attrs=True)

ValueError: Could not evaluate Y

In [ ]:
monthly_data

In [9]:
data = monthly_data

## Convert affine information based on the new subset dataset
- Get the affine information stored in the attributes of the PM2.5 dataset
- Create a function to specify the window of the new subset data
- Create new affine information

The next few cells are the bits that convert the affine transform

In [16]:
# Get the actual Affine object from the data stored in the attrs
orig_aff = rasterio.Affine.from_gdal(*data.attrs['affine'])

In [17]:
def window_bounds(window, affine):
    (row_start, row_stop), (col_start, col_stop) = window
    w, s = (col_start, row_stop) * affine
    e, n = (col_stop, row_start) * affine
    return w, s, e, n

In [18]:
c, _, _, f = window_bounds( ( (x_start, 5000), (y_start, 5000)), orig_aff)  # c ~ west, f ~ north
a, b, _, d, e, _, _, _, _ = tuple(orig_aff)
new_aff = rasterio.Affine(a, b, c, d, e, f)

In [19]:
orig_aff

Affine(1256.5430440955893, 0.0, -947639.63051064778,
       0.0, -1256.5430440955893, 1429277.8120091767)

In [20]:
new_aff

Affine(1256.5430440955893, 0.0, 246076.26138016209,
       0.0, -1256.5430440955893, 235561.92011836683)

## Create an empty raster image 
- Create an empty raster image the same size and containing zeros
- Specify the location of the polygon shapefile containing the boundaries

In [24]:
# Image to rasterize the polygons in to
rasterized_image = np.zeros(data.isel(time=0).shape, dtype=np.int)

# List to store dataframes in
dfs = []

feats = read_features(r'D:\Annies_Dissertation\Data\Boundaries\Bmth_and_Soton.shp')

out_shape = data.isel(time=0).shape

## Load the data

In [25]:
data = data.load()

In [26]:
data

<xarray.DataArray 'data' (time: 5191, y: 212, x: 290)>
array([[[         nan,          nan,          nan, ...,          nan,
                  nan,          nan],
        [         nan,          nan,          nan, ...,          nan,
                  nan,          nan],
        [         nan,          nan,          nan, ...,          nan,
                  nan,          nan],
        ...,
        [         nan,          nan,          nan, ...,          nan,
                  nan,          nan],
        [         nan,          nan,          nan, ...,          nan,
                  nan,          nan],
        [         nan,          nan,          nan, ...,          nan,
                  nan,          nan]],

       [[ 36.06666183,  37.74933243,  33.51363754, ...,          nan,
                  nan,          nan],
        [ 41.46812057,  41.55789566,          nan, ...,          nan,
                  nan,          nan],
        [         nan,          nan,          nan, ...,          nan,
                  nan,          nan],
        ...,
        [         nan,          nan,          nan, ...,          nan,
                  nan,          nan],
        [         nan,          nan,          nan, ...,          nan,
                  nan,          nan],
        [         nan,          nan,          nan, ...,          nan,
                  nan,          nan]],

       [[         nan,          nan,          nan, ...,          nan,
                  nan,          nan],
        [         nan,          nan,          nan, ...,          nan,
                  nan,          nan],
        [         nan,          nan,          nan, ...,          nan,
                  nan,          nan],
        ...,
        [         nan,          nan,          nan, ...,          nan,
                  nan,          nan],
        [         nan,          nan,          nan, ...,          nan,
                  nan,          nan],
        [         nan,          nan,          nan, ...,          nan,
                  nan,          nan]],

       ...,
       [[         nan,          nan,          nan, ...,          nan,
                  nan,          nan],
        [         nan,          nan,          nan, ...,          nan,
                  nan,          nan],
        [         nan,          nan,          nan, ...,          nan,
                  nan,          nan],
        ...,
        [         nan,          nan,          nan, ...,          nan,
                  nan,          nan],
        [         nan,          nan,          nan, ...,          nan,
                  nan,          nan],
        [         nan,          nan,          nan, ...,          nan,
                  nan,          nan]],

       [[         nan,          nan,          nan, ...,          nan,
                  nan,          nan],
        [         nan,          nan,  15.32383823, ...,          nan,
                  nan,          nan],
        [         nan,          nan,          nan, ...,          nan,
                  nan,          nan],
        ...,
        [  7.73895931,   7.14231157,          nan, ...,          nan,
                  nan,          nan],
        [  7.33629179,          nan,          nan, ...,          nan,
                  nan,          nan],
        [         nan,          nan,          nan, ...,          nan,
                  nan,          nan]],

       [[         nan,          nan,          nan, ...,          nan,
                  nan,          nan],
        [         nan,          nan,          nan, ...,          nan,
                  nan,          nan],
        [         nan,          nan,          nan, ...,          nan,
                  nan,          nan],
        ...,
        [         nan,          nan,          nan, ...,          nan,
                  nan,          nan],
        [         nan,          nan,          nan, ...,          nan,
                  nan,          nan],
        [         nan,          nan,          nan, ...,          nan,
                  nan,          nan]]], dtype=float32)
Coordinates:
  * x        (x) float64 2.461e+05 2.473e+05 2.486e+05 2.498e+05 2.511e+05 ...
  * y        (y) float64 2.356e+05 2.343e+05 2.33e+05 2.318e+05 2.305e+05 ...
  * time     (time) datetime64[ns] 2000-02-25 2000-02-26 2000-02-27 ...
Attributes:
    affine: [ -9.47639631e+05   1.25654304e+03   0.00000000e+00   1.42927781e+06
   0.00000000e+00  -1.25654304e+03]
    crs: +init=epsg:27700

## Extract PM2.5 data for LSOA
- Create a for loop to over each polygon:
    - slice array to create a boolean image where 1 represents the pixels which are located within and touching the LSOA boundary (all touched) and 0 for the pixels that do not
    - Extract PM2.5 data for pixel representing LSOA (with a value of 1)
    - Combine the x and y dimensions into a new dimension all points using the stacked function
    - Calculate a mean for the PM2.5
    - Append the results to a dataframe

In [27]:
# Loop over features (polygons) in the shapefile
for f in tqdm(feats):
    # Rasterize the polygon into an array
    rasterized_image = features.rasterize([(shape(f['geometry']),1)],
                                          out_shape=out_shape,
                                          transform=new_aff,
                                          fill=0,
                                          all_touched=True)

    # Extract from the xarray where the rasterized polygon is
    region = data.where(rasterized_image == 1)
    
    # Combine x and y into a new dimension called allpoints and calculate the mean over it
    # and then convert to a dataframe with an appropriate name
    res = region.stack(allpoints=['x','y']).mean(dim='allpoints').to_dataframe(name=f['properties']['CTYUA15CD'])
    
    # Append to the list of data frames so we can concatenate them all at the end
    dfs.append(res)
    
stats = pd.concat(dfs, axis=1)

2it [00:03,  1.72s/it]

In [28]:
stats

            E06000028  E06000045
time
2000-02-25  17.279724  14.118634
2000-02-26        NaN  20.691448
2000-02-27        NaN        NaN
2000-02-28  20.444691  20.323462
2000-02-29        NaN        NaN
2000-03-01  20.349199        NaN
2000-03-02        NaN        NaN
2000-03-03        NaN  17.397324
2000-03-04  18.707706  16.998253
2000-03-05  24.391594        NaN
2000-03-06        NaN        NaN
2000-03-07        NaN  24.588882
2000-03-08        NaN        NaN
2000-03-09        NaN        NaN
2000-03-10  46.667805  44.325916
2000-03-11        NaN        NaN
2000-03-12  15.574203  19.092215
2000-03-13        NaN        NaN
2000-03-14        NaN        NaN
2000-03-15  27.811934  20.108116
2000-03-16        NaN        NaN
2000-03-17        NaN        NaN
2000-03-18        NaN  28.776552
2000-03-19  16.731461  16.765999
2000-03-20        NaN        NaN
2000-03-21        NaN  31.087669
2000-03-22  43.010914  40.649818
2000-03-23        NaN        NaN
2000-03-24        NaN        NaN
2000-03-25  30.679792  31.937208
...               ...        ...
2014-06-01  27.797659  23.722189
2014-06-02        NaN        NaN
2014-06-03        NaN        NaN
2014-06-04  34.002308        NaN
2014-06-05  10.581081  21.992428
2014-06-06  10.670003        NaN
2014-06-07   7.557759  11.528410
2014-06-08   9.432124   6.173340
2014-06-09  12.009782   8.861636
2014-06-10  16.227863  13.323527
2014-06-11  16.854860        NaN
2014-06-12  16.234205        NaN
2014-06-13        NaN        NaN
2014-06-14        NaN        NaN
2014-06-15        NaN        NaN
2014-06-16        NaN        NaN
2014-06-17  13.525669  10.614930
2014-06-18        NaN        NaN
2014-06-19   9.433708  14.089956
2014-06-20  16.152794  17.769110
2014-06-21  18.232813        NaN
2014-06-22  25.508820        NaN
2014-06-23  16.358698  15.208945
2014-06-24  15.565323  19.341784
2014-06-25  13.483384  21.104673
2014-06-26        NaN        NaN
2014-06-27  17.617678        NaN
2014-06-28  28.473522  27.793386
2014-06-29        NaN        NaN
2014-06-30  12.796199  18.424778

[5191 rows x 2 columns]

In [29]:
stats = stats.dropna(how='all')

In [30]:
melted_stats = pd.melt(stats.reset_index(), id_vars='time', var_name='City').dropna()

In [32]:
melted_stats

           time       City      value
0    2000-02-25  E06000028  17.279724
2    2000-02-28  E06000028  20.444691
3    2000-03-01  E06000028  20.349199
5    2000-03-04  E06000028  18.707706
6    2000-03-05  E06000028  24.391594
8    2000-03-10  E06000028  46.667805
9    2000-03-12  E06000028  15.574203
10   2000-03-15  E06000028  27.811934
12   2000-03-19  E06000028  16.731461
14   2000-03-22  E06000028  43.010914
15   2000-03-25  E06000028  30.679792
17   2000-04-06  E06000028  14.905524
18   2000-04-07  E06000028  21.729042
19   2000-04-08  E06000028  19.282534
20   2000-04-10  E06000028  14.116889
21   2000-04-16  E06000028  20.815825
22   2000-04-19  E06000028   9.922451
23   2000-04-23  E06000028   6.214095
24   2000-04-24  E06000028  11.541703
25   2000-04-29  E06000028  16.100203
26   2000-04-30  E06000028  14.140314
27   2000-05-01  E06000028  15.701873
28   2000-05-02  E06000028  10.705186
29   2000-05-05  E06000028  35.538895
30   2000-05-07  E06000028  30.785753
31   2000-05-09  E06000028  17.668001
32   2000-05-14  E06000028  26.849913
33   2000-05-15  E06000028  28.446556
36   2000-05-25  E06000028  29.400293
37   2000-05-27  E06000028  11.240463
...         ...        ...        ...
5342 2014-04-17  E06000045  16.973923
5343 2014-04-18  E06000045  14.733543
5345 2014-04-21  E06000045  31.502895
5347 2014-04-26  E06000045  21.650648
5348 2014-04-29  E06000045  22.557426
5349 2014-05-03  E06000045   7.388816
5350 2014-05-06  E06000045  15.305792
5351 2014-05-09  E06000045  17.396658
5353 2014-05-12  E06000045  12.073928
5354 2014-05-13  E06000045  19.482721
5355 2014-05-14  E06000045  21.963140
5357 2014-05-16  E06000045  16.098692
5358 2014-05-17  E06000045  21.833138
5359 2014-05-18  E06000045   9.071342
5360 2014-05-19  E06000045  12.724621
5362 2014-05-25  E06000045  13.779819
5363 2014-06-01  E06000045  23.722189
5365 2014-06-05  E06000045  21.992428
5367 2014-06-07  E06000045  11.528410
5368 2014-06-08  E06000045   6.173340
5369 2014-06-09  E06000045   8.861636
5370 2014-06-10  E06000045  13.323527
5373 2014-06-17  E06000045  10.614930
5374 2014-06-19  E06000045  14.089956
5375 2014-06-20  E06000045  17.769110
5378 2014-06-23  E06000045  15.208945
5379 2014-06-24  E06000045  19.341784
5380 2014-06-25  E06000045  21.104673
5382 2014-06-28  E06000045  27.793386
5383 2014-06-30  E06000045  18.424778

[4599 rows x 3 columns]

## Create month and year data which will be used to merge with the hospital admission data

In [33]:
melted_stats['month'] = melted_stats.time.dt.month

In [34]:
melted_stats['year'] = melted_stats.time.dt.year

In [35]:
melted_stats['day'] = melted_stats.time.dt.day

In [36]:
melted_stats.head()

        time       City      value  month  year  day
0 2000-02-25  E06000028  17.279724      2  2000   25
2 2000-02-28  E06000028  20.444691      2  2000   28
3 2000-03-01  E06000028  20.349199      3  2000    1
5 2000-03-04  E06000028  18.707706      3  2000    4
6 2000-03-05  E06000028  24.391594      3  2000    5

In [37]:
melted_stats.to_csv(r'D:\Annies_Dissertation\Analysis\Regression\Lamb\AP_Cities.csv')

## Validating with AP for a LSOA (E01017182) that is located within a pixel

In [ ]:
PM25 = xr.open_mfdataset(r'C:\MAIACData\nc_monthly_daily\*PM25.nc')['data']

In [ ]:
PM25

In [ ]:
a = PM25.attrs['affine']
a = rasterio.Affine.from_gdal(*a)
~a * (439040, 115775)

In [ ]:
PM25 = PM25.isel(time=np.argsort(PM25.time))

In [ ]:
After2009 = PM25.sel(time=slice('2009', '2016'))

In [ ]:
monthly_data = After2009.resample('M', dim='time', how='mean', keep_attrs=True)

In [ ]:
ts = monthly_data.isel(x=1103, y=1045).load()

In [ ]:
ts

In [ ]:
result = ts.to_dataframe()

In [ ]:
result.dropna()

In [ ]:
result.to_csv(r'D:\Annies_Dissertation\Analysis\Regression\Validation\Monthly_PM25_LSOA_Validation.csv')

### Joining data for pixel and LSOA to validate Rasterstats method

In [1]:
from dateutil.parser import parse

In [34]:
Pixel = pd.read_csv(r'D:\Annies_Dissertation\Analysis\Regression\Validation\Monthly_PM25_LSOA_Validation.csv', parse_dates=['time'])

In [66]:
Pixel[:10]

                 data       LSOA
time
2009-01-31   8.010561  E01017182
2009-02-28   7.790070  E01017182
2009-03-31  13.203969  E01017182
2009-04-30  14.404096  E01017182
2009-05-31  13.632330  E01017182
2009-06-30  11.638875  E01017182
2009-07-31  13.614918  E01017182
2009-08-31  12.393079  E01017182
2009-09-30  13.358428  E01017182
2009-10-31  12.025865  E01017182

In [36]:
Pixel = Pixel.set_index('time')

In [37]:
Pixel = Pixel[['data']].dropna()

In [38]:
Pixel['LSOA'] = 'E01017182'

In [58]:
Area = pd.read_csv(r'D:\Annies_Dissertation\Analysis\Regression\Monthly_PM25_LSOA.csv', parse_dates=['time'])

In [62]:
Area[:10]

                 LSOA      value
time
2009-01-31  E01014869   4.894197
2009-02-28  E01014869   8.269163
2009-03-31  E01014869  16.443802
2009-04-30  E01014869  12.831035
2009-05-31  E01014869   9.983700
2009-06-30  E01014869  14.679679
2009-07-31  E01014869  11.896524
2009-08-31  E01014869  17.366266
2009-09-30  E01014869  11.546007
2009-10-31  E01014869   8.697833

In [60]:
Area = Area.set_index('time')

In [61]:
Area = Area[['LSOA', 'value']].dropna()

In [64]:
E01 = Area.loc[Area['LSOA'] == 'E01017182']

In [65]:
E01

                 LSOA      value
time
2009-01-31  E01017182   8.010561
2009-02-28  E01017182   7.790070
2009-03-31  E01017182  13.203969
2009-04-30  E01017182  14.404096
2009-05-31  E01017182  13.632330
2009-06-30  E01017182  11.638875
2009-07-31  E01017182  13.614918
2009-08-31  E01017182  12.393079
2009-09-30  E01017182  13.358428
2009-10-31  E01017182  12.025865
2009-11-30  E01017182   7.563473
2009-12-31  E01017182   6.933330
2010-01-31  E01017182   2.834002
2010-02-28  E01017182   8.099767
2010-03-31  E01017182   5.791169
2010-04-30  E01017182  12.696402
2010-05-31  E01017182  10.230539
2010-06-30  E01017182   8.173983
2010-07-31  E01017182  15.436866
2010-08-31  E01017182   9.871422
2010-09-30  E01017182  14.359910
2010-10-31  E01017182   7.349367
2010-11-30  E01017182   5.709067
2010-12-31  E01017182   3.427713
2011-01-31  E01017182   6.085733
2011-02-28  E01017182   5.812774
2011-03-31  E01017182  25.315361
2011-04-30  E01017182  13.275676
2011-05-31  E01017182  17.412249
2011-06-30  E01017182  12.600299
...               ...        ...
2012-01-31  E01017182   8.698584
2012-02-29  E01017182  12.288255
2012-03-31  E01017182  16.118940
2012-04-30  E01017182  13.911578
2012-05-31  E01017182  14.500471
2012-06-30  E01017182  24.114754
2012-07-31  E01017182   9.818642
2012-08-31  E01017182  13.908880
2012-09-30  E01017182  11.292111
2012-10-31  E01017182   8.537384
2012-11-30  E01017182   4.896462
2012-12-31  E01017182   6.155602
2013-01-31  E01017182   7.236534
2013-02-28  E01017182  13.197854
2013-03-31  E01017182  13.385777
2013-04-30  E01017182  11.524849
2013-05-31  E01017182  11.079807
2013-06-30  E01017182  16.355505
2013-07-31  E01017182  18.687141
2013-08-31  E01017182  12.746965
2013-09-30  E01017182  13.937560
2013-10-31  E01017182  10.789170
2013-11-30  E01017182   7.118971
2013-12-31  E01017182   6.876851
2014-01-31  E01017182   5.029125
2014-02-28  E01017182  15.276940
2014-03-31  E01017182  17.115871
2014-04-30  E01017182   7.087861
2014-05-31  E01017182  11.811122
2014-06-30  E01017182  12.375697

[66 rows x 2 columns]

In [67]:
result = pd.merge(Pixel, E01, left_index=True, right_index=True)

In [68]:
result.dropna()

                 data     LSOA_x     LSOA_y      value
time
2009-01-31   8.010561  E01017182  E01017182   8.010561
2009-02-28   7.790070  E01017182  E01017182   7.790070
2009-03-31  13.203969  E01017182  E01017182  13.203969
2009-04-30  14.404096  E01017182  E01017182  14.404096
2009-05-31  13.632330  E01017182  E01017182  13.632330
2009-06-30  11.638875  E01017182  E01017182  11.638875
2009-07-31  13.614918  E01017182  E01017182  13.614918
2009-08-31  12.393079  E01017182  E01017182  12.393079
2009-09-30  13.358428  E01017182  E01017182  13.358428
2009-10-31  12.025865  E01017182  E01017182  12.025865
2009-11-30   7.563473  E01017182  E01017182   7.563473
2009-12-31   6.933330  E01017182  E01017182   6.933330
2010-01-31   2.834002  E01017182  E01017182   2.834002
2010-02-28   8.099767  E01017182  E01017182   8.099767
2010-03-31   5.791169  E01017182  E01017182   5.791169
2010-04-30  12.696402  E01017182  E01017182  12.696402
2010-05-31  10.230539  E01017182  E01017182  10.230539
2010-06-30   8.173983  E01017182  E01017182   8.173983
2010-07-31  15.436866  E01017182  E01017182  15.436866
2010-08-31   9.871422  E01017182  E01017182   9.871422
2010-09-30  14.359910  E01017182  E01017182  14.359910
2010-10-31   7.349367  E01017182  E01017182   7.349367
2010-11-30   5.709067  E01017182  E01017182   5.709067
2010-12-31   3.427713  E01017182  E01017182   3.427713
2011-01-31   6.085733  E01017182  E01017182   6.085733
2011-02-28   5.812774  E01017182  E01017182   5.812774
2011-03-31  25.315361  E01017182  E01017182  25.315361
2011-04-30  13.275676  E01017182  E01017182  13.275676
2011-05-31  17.412249  E01017182  E01017182  17.412249
2011-06-30  12.600299  E01017182  E01017182  12.600299
...               ...        ...        ...        ...
2012-01-31   8.698584  E01017182  E01017182   8.698584
2012-02-29  12.288255  E01017182  E01017182  12.288255
2012-03-31  16.118940  E01017182  E01017182  16.118940
2012-04-30  13.911578  E01017182  E01017182  13.911578
2012-05-31  14.500471  E01017182  E01017182  14.500471
2012-06-30  24.114754  E01017182  E01017182  24.114754
2012-07-31   9.818642  E01017182  E01017182   9.818642
2012-08-31  13.908880  E01017182  E01017182  13.908880
2012-09-30  11.292111  E01017182  E01017182  11.292111
2012-10-31   8.537384  E01017182  E01017182   8.537384
2012-11-30   4.896462  E01017182  E01017182   4.896462
2012-12-31   6.155602  E01017182  E01017182   6.155602
2013-01-31   7.236534  E01017182  E01017182   7.236534
2013-02-28  13.197854  E01017182  E01017182  13.197854
2013-03-31  13.385777  E01017182  E01017182  13.385777
2013-04-30  11.524849  E01017182  E01017182  11.524849
2013-05-31  11.079807  E01017182  E01017182  11.079807
2013-06-30  16.355505  E01017182  E01017182  16.355505
2013-07-31  18.687141  E01017182  E01017182  18.687141
2013-08-31  12.746965  E01017182  E01017182  12.746965
2013-09-30  13.937560  E01017182  E01017182  13.937560
2013-10-31  10.789170  E01017182  E01017182  10.789170
2013-11-30   7.118971  E01017182  E01017182   7.118971
2013-12-31   6.876851  E01017182  E01017182   6.876851
2014-01-31   5.029125  E01017182  E01017182   5.029125
2014-02-28  15.276940  E01017182  E01017182  15.276940
2014-03-31  17.115871  E01017182  E01017182  17.115871
2014-04-30   7.087861  E01017182  E01017182   7.087861
2014-05-31  11.811122  E01017182  E01017182  11.811122
2014-06-30  12.375697  E01017182  E01017182  12.375697

[66 rows x 4 columns]

In [69]:
result['Difference'] = result['data']- result['value']

In [70]:
result[:10]

                 data     LSOA_x     LSOA_y      value  Difference
time
2009-01-31   8.010561  E01017182  E01017182   8.010561         0.0
2009-02-28   7.790070  E01017182  E01017182   7.790070         0.0
2009-03-31  13.203969  E01017182  E01017182  13.203969         0.0
2009-04-30  14.404096  E01017182  E01017182  14.404096         0.0
2009-05-31  13.632330  E01017182  E01017182  13.632330         0.0
2009-06-30  11.638875  E01017182  E01017182  11.638875         0.0
2009-07-31  13.614918  E01017182  E01017182  13.614918         0.0
2009-08-31  12.393079  E01017182  E01017182  12.393079         0.0
2009-09-30  13.358428  E01017182  E01017182  13.358428         0.0
2009-10-31  12.025865  E01017182  E01017182  12.025865         0.0

In [71]:
result.Difference.value_counts()

0.0    66
Name: Difference, dtype: int64

In [72]:
result.groupby('Difference').count()

            data  LSOA_x  LSOA_y  value
Difference
0.0           66      66      66     66

## Yearly

In [9]:
yearly_data = After2009.resample('A', dim='time', how='mean', keep_attrs=True)

In [10]:
yearly_data

<xarray.DataArray 'data' (time: 6, y: 212, x: 290)>
dask.array<transpo..., shape=(6, 212, 290), dtype=float32, chunksize=(1, 212, 290)>
Coordinates:
  * x        (x) float64 2.461e+05 2.473e+05 2.486e+05 2.498e+05 2.511e+05 ...
  * y        (y) float64 2.356e+05 2.343e+05 2.33e+05 2.318e+05 2.305e+05 ...
  * time     (time) datetime64[ns] 2009-12-31 2010-12-31 2011-12-31 ...
Attributes:
    affine: [ -9.47639631e+05   1.25654304e+03   0.00000000e+00   1.42927781e+06
   0.00000000e+00  -1.25654304e+03]
    crs: +init=epsg:27700

In [11]:
data = yearly_data

In [12]:
# Get the actual Affine object from the data stored in the attrs
orig_aff = rasterio.Affine.from_gdal(*data.attrs['affine'])

In [13]:
def window_bounds(window, affine):
    (row_start, row_stop), (col_start, col_stop) = window
    w, s = (col_start, row_stop) * affine
    e, n = (col_stop, row_start) * affine
    return w, s, e, n

In [14]:
c, _, _, f = window_bounds( ( (x_start, 5000), (y_start, 5000)), orig_aff)  # c ~ west, f ~ north
a, b, _, d, e, _, _, _, _ = tuple(orig_aff)
new_aff = rasterio.Affine(a, b, c, d, e, f)

In [15]:
orig_aff

Affine(1256.5430440955893, 0.0, -947639.63051064778,
       0.0, -1256.5430440955893, 1429277.8120091767)

In [16]:
new_aff

Affine(1256.5430440955893, 0.0, 246076.26138016209,
       0.0, -1256.5430440955893, 235561.92011836683)

In [17]:
# Image to rasterize the polygons in to
rasterized_image = np.zeros(data.isel(time=0).shape, dtype=np.int)

# List to store dataframes in
dfs = []

feats = read_features(r'D:\Annies_Dissertation\Data\Boundaries\MSOA_Wessex.shp')

out_shape = data.isel(time=0).shape

In [18]:
data = data.load()

D:\Anaconda3\lib\site-packages\dask\array\numpy_compat.py:45: RuntimeWarning: invalid value encountered in true_divide
  x = np.divide(x1, x2, out)

In [19]:
# Loop over features (polygons) in the shapefile
for f in tqdm(feats):
    # Rasterize the polygon into an array
    rasterized_image = features.rasterize([(shape(f['geometry']),1)],
                                          out_shape=out_shape,
                                          transform=new_aff,
                                          fill=0,
                                          all_touched=True)

    # Extract from the xarray where the rasterized polygon is
    region = data.where(rasterized_image == 1)
    
    # Combine x and y into a new dimension called allpoints and calculate the mean over it
    # and then convert to a dataframe with an appropriate name
    res = region.stack(allpoints=['x','y']).mean(dim='allpoints').to_dataframe(name=f['properties']['MSOA11CD'])
    
    # Append to the list of data frames so we can concatenate them all at the end
    dfs.append(res)
    
stats = pd.concat(dfs, axis=1)

572it [00:10, 56.93it/s]

In [20]:
stats

,E02004133,E02004135,E02004274,E02004275,E02004276,E02004277,E02004278,E02004279,E02004280,E02004281,...,E02004833,E02004834,E02004835,E02004836,E02004837,E02004838,E02004839,E02004840,E02004841,E02004842
time,,,,,,,,,,,,,,,,,,,,,
2009-12-31,13.056116,15.394227,14.718146,14.171650,15.958847,14.074329,14.140687,13.475246,14.107825,14.332107,...,11.637477,12.227642,12.069082,12.175343,11.635142,12.492921,12.336554,12.523004,13.976445,13.626660
2010-12-31,9.329807,12.632816,11.550735,11.098318,13.282112,12.329064,11.910030,11.208230,11.701752,12.455047,...,9.940247,10.781546,10.892902,10.445950,9.855941,10.813257,11.321645,11.171885,11.798012,12.568973
2011-12-31,12.698766,16.244047,15.149246,14.659374,16.768614,15.664410,14.877834,14.490995,15.418324,16.274170,...,12.654701,13.407978,13.289235,13.154465,12.895758,13.151631,13.642417,13.761908,15.107556,16.081411
2012-12-31,10.825607,13.718923,12.887848,11.985026,14.365892,12.212601,12.093344,11.511999,12.009480,11.910382,...,11.645494,11.986456,11.855713,11.796812,10.697973,11.213563,10.624464,11.098469,12.076816,12.465608
2013-12-31,11.240745,14.283063,12.900339,12.584451,14.532439,12.040387,11.556064,11.368292,12.237543,12.320147,...,10.865858,11.122138,11.260157,11.448633,10.626868,11.178587,11.571833,11.082738,11.929890,12.870319
2014-12-31,10.079161,14.338618,12.379347,12.859435,15.296400,13.925345,13.663485,13.377886,14.590125,14.459996,...,11.458997,11.605825,11.251191,10.865953,10.853302,12.788203,12.728901,13.546736,13.540223,13.468516

In [21]:
stats = stats.dropna(how='all')

In [22]:
melted_stats = pd.melt(stats.reset_index(), id_vars='time', var_name='MSOA').dropna()

In [23]:
melted_stats

           time       MSOA      value
0    2009-12-31  E02004133  13.056116
1    2010-12-31  E02004133   9.329807
2    2011-12-31  E02004133  12.698766
3    2012-12-31  E02004133  10.825607
4    2013-12-31  E02004133  11.240745
5    2014-12-31  E02004133  10.079161
6    2009-12-31  E02004135  15.394227
7    2010-12-31  E02004135  12.632816
8    2011-12-31  E02004135  16.244047
9    2012-12-31  E02004135  13.718923
10   2013-12-31  E02004135  14.283063
11   2014-12-31  E02004135  14.338618
12   2009-12-31  E02004274  14.718146
13   2010-12-31  E02004274  11.550735
14   2011-12-31  E02004274  15.149246
15   2012-12-31  E02004274  12.887848
16   2013-12-31  E02004274  12.900339
17   2014-12-31  E02004274  12.379347
18   2009-12-31  E02004275  14.171650
19   2010-12-31  E02004275  11.098318
20   2011-12-31  E02004275  14.659374
21   2012-12-31  E02004275  11.985026
22   2013-12-31  E02004275  12.584451
23   2014-12-31  E02004275  12.859435
24   2009-12-31  E02004276  15.958847
25   2010-12-31  E02004276  13.282112
26   2011-12-31  E02004276  16.768614
27   2012-12-31  E02004276  14.365892
28   2013-12-31  E02004276  14.532439
29   2014-12-31  E02004276  15.296400
...         ...        ...        ...
3402 2009-12-31  E02004838  12.492921
3403 2010-12-31  E02004838  10.813257
3404 2011-12-31  E02004838  13.151631
3405 2012-12-31  E02004838  11.213563
3406 2013-12-31  E02004838  11.178587
3407 2014-12-31  E02004838  12.788203
3408 2009-12-31  E02004839  12.336554
3409 2010-12-31  E02004839  11.321645
3410 2011-12-31  E02004839  13.642417
3411 2012-12-31  E02004839  10.624464
3412 2013-12-31  E02004839  11.571833
3413 2014-12-31  E02004839  12.728901
3414 2009-12-31  E02004840  12.523004
3415 2010-12-31  E02004840  11.171885
3416 2011-12-31  E02004840  13.761908
3417 2012-12-31  E02004840  11.098469
3418 2013-12-31  E02004840  11.082738
3419 2014-12-31  E02004840  13.546736
3420 2009-12-31  E02004841  13.976445
3421 2010-12-31  E02004841  11.798012
3422 2011-12-31  E02004841  15.107556
3423 2012-12-31  E02004841  12.076816
3424 2013-12-31  E02004841  11.929890
3425 2014-12-31  E02004841  13.540223
3426 2009-12-31  E02004842  13.626660
3427 2010-12-31  E02004842  12.568973
3428 2011-12-31  E02004842  16.081411
3429 2012-12-31  E02004842  12.465608
3430 2013-12-31  E02004842  12.870319
3431 2014-12-31  E02004842  13.468516

[3432 rows x 3 columns]

In [24]:
melted_stats['year'] = melted_stats.time.dt.year

In [25]:
melted_stats.head()

        time       MSOA      value  year
0 2009-12-31  E02004133  13.056116  2009
1 2010-12-31  E02004133   9.329807  2010
2 2011-12-31  E02004133  12.698766  2011
3 2012-12-31  E02004133  10.825607  2012
4 2013-12-31  E02004133  11.240745  2013

In [27]:
melted_stats.to_csv(r'D:\Annies_Dissertation\Analysis\Regression\MSOA\Yearly_PM25_MSOA.csv')