In [1]:
import numpy as np
import xarray as xr
import rasterio
%matplotlib inline
from matplotlib.pyplot import *
from glob import glob
import os
import datetime

import pandas as pd

from rasterio import features

from rasterio_to_xarray import rasterio_to_xarray, xarray_to_rasterio

import rasterstats
import fiona

from tqdm import tqdm

from shapely.geometry import shape
from rasterstats.io import read_features

#from dask.diagnostics import ProgressBar

pbar = ProgressBar()
pbar.register()

pbar.unregister()

In [2]:
data = xr.open_mfdataset(r'C:\MAIACData\nc_monthly_daily\*.nc')['data']

In [3]:
# Subsetting params
x_start = 950
x_end = None

y_start = 950
y_stop = None

In [4]:
subset = data.isel(x=slice(x_start, y_stop), y=slice(y_start, y_stop))

In [5]:
subset = subset.isel(time=np.argsort(subset.time))

In [6]:
After2009 = subset.sel(time=slice('2009', '2016'))

## Monthly

In [7]:
monthly_data = After2009.resample('M', dim='time', how='mean', keep_attrs=True)

In [8]:
monthly_data

<xarray.DataArray 'data' (time: 66, y: 212, x: 290)>
dask.array<transpo..., shape=(66, 212, 290), dtype=float32, chunksize=(1, 212, 290)>
Coordinates:
  * x        (x) float64 2.461e+05 2.473e+05 2.486e+05 2.498e+05 2.511e+05 ...
  * y        (y) float64 2.356e+05 2.343e+05 2.33e+05 2.318e+05 2.305e+05 ...
  * time     (time) datetime64[ns] 2009-01-31 2009-02-28 2009-03-31 ...
Attributes:
    affine: [ -9.47639631e+05   1.25654304e+03   0.00000000e+00   1.42927781e+06
   0.00000000e+00  -1.25654304e+03]
    crs: +init=epsg:27700

In [9]:
data = monthly_data

The next few cells are the bits that convert the affine transform

In [10]:
# Get the actual Affine object from the data stored in the attrs
orig_aff = rasterio.Affine.from_gdal(*data.attrs['affine'])

In [11]:
def window_bounds(window, affine):
    (row_start, row_stop), (col_start, col_stop) = window
    w, s = (col_start, row_stop) * affine
    e, n = (col_stop, row_start) * affine
    return w, s, e, n

In [12]:
c, _, _, f = window_bounds( ( (x_start, 5000), (y_start, 5000)), orig_aff)  # c ~ west, f ~ north
a, b, _, d, e, _, _, _, _ = tuple(orig_aff)
new_aff = rasterio.Affine(a, b, c, d, e, f)

In [13]:
orig_aff

Affine(1256.5430440955893, 0.0, -947639.63051064778,
       0.0, -1256.5430440955893, 1429277.8120091767)

In [14]:
new_aff

Affine(1256.5430440955893, 0.0, 246076.26138016209,
       0.0, -1256.5430440955893, 235561.92011836683)

In [15]:
# Image to rasterize the polygons in to
rasterized_image = np.zeros(data.isel(time=0).shape, dtype=np.int)

# List to store dataframes in
dfs = []

feats = read_features(r'D:\Annies_Dissertation\Data\Boundaries\MSOA_Wessex.shp')

out_shape = data.isel(time=0).shape

This single line is the key thing that makes the code faster!

In [16]:
data = data.load()

D:\Anaconda3\lib\site-packages\dask\array\numpy_compat.py:45: RuntimeWarning: invalid value encountered in true_divide
  x = np.divide(x1, x2, out)

In [17]:
data

<xarray.DataArray 'data' (time: 66, y: 212, x: 290)>
array([[[  7.46854973,   7.31030512,   7.47690392, ...,          nan,
                  nan,          nan],
        [  6.85919046,   6.87198734,   5.62207413, ...,          nan,
                  nan,          nan],
        [  8.83175087,   9.8598671 ,   5.67711639, ...,          nan,
                  nan,          nan],
        ...,
        [  8.56533813,   8.49901867,          nan, ...,          nan,
                  nan,          nan],
        [  8.56972504,          nan,          nan, ...,          nan,
                  nan,          nan],
        [         nan,          nan,          nan, ...,          nan,
                  nan,          nan]],

       [[ 15.02777386,   8.10723877,  12.05983162, ...,          nan,
                  nan,          nan],
        [         nan,          nan,   8.38002014, ...,          nan,
                  nan,          nan],
        [  9.77899742,  13.60194397,   9.22825813, ...,          nan,
                  nan,          nan],
        ...,
        [  7.86651468,   7.53197527,   6.01562214, ...,          nan,
                  nan,          nan],
        [  7.73766708,   5.96999502,   5.84572077, ...,          nan,
                  nan,          nan],
        [         nan,          nan,          nan, ...,          nan,
                  nan,          nan]],

       [[ 16.29265785,  18.2551899 ,  15.70465183, ...,          nan,
                  nan,          nan],
        [ 14.21675873,  14.24028111,  13.55061626, ...,          nan,
                  nan,          nan],
        [ 14.76556492,  15.59439945,  13.64008427, ...,          nan,
                  nan,          nan],
        ...,
        [  9.6961031 ,   9.14534187,   8.90093708, ...,          nan,
                  nan,          nan],
        [  9.3459568 ,   8.99110603,   8.76315212, ...,          nan,
                  nan,          nan],
        [         nan,          nan,          nan, ...,          nan,
                  nan,          nan]],

       ...,
       [[  6.94773722,   6.31843281,   4.54199171, ...,          nan,
                  nan,          nan],
        [  9.67956638,   9.69639111,   5.09622955, ...,          nan,
                  nan,          nan],
        [  7.82792282,  10.11916351,   9.44962883, ...,          nan,
                  nan,          nan],
        ...,
        [  3.93047118,   3.64932799,   3.5720942 , ...,          nan,
                  nan,          nan],
        [  4.04093313,   3.95748925,   3.79920125, ...,          nan,
                  nan,          nan],
        [         nan,          nan,          nan, ...,          nan,
                  nan,          nan]],

       [[  4.71395445,   4.6658659 ,   4.40036106, ...,          nan,
                  nan,          nan],
        [  5.04171038,   5.0481081 ,   4.94587183, ...,          nan,
                  nan,          nan],
        [ 13.61433411,   4.94194508,   5.00250244, ...,          nan,
                  nan,          nan],
        ...,
        [  3.76361942,   3.74471784,   3.3869071 , ...,          nan,
                  nan,          nan],
        [  3.75226283,   3.73324323,   3.82091713, ...,          nan,
                  nan,          nan],
        [         nan,          nan,          nan, ...,          nan,
                  nan,          nan]],

       [[ 10.36306953,   5.89186573,  10.36501312, ...,          nan,
                  nan,          nan],
        [  8.16923046,   8.1747303 ,  10.17381096, ...,          nan,
                  nan,          nan],
        [ 11.59241867,  11.33442116,  10.09692669, ...,          nan,
                  nan,          nan],
        ...,
        [  6.66913462,   6.45096636,   6.03128815, ...,          nan,
                  nan,          nan],
        [  6.37757158,   6.40227318,   6.13490295, ...,          nan,
                  nan,          nan],
        [         nan,          nan,          nan, ...,          nan,
                  nan,          nan]]], dtype=float32)
Coordinates:
  * x        (x) float64 2.461e+05 2.473e+05 2.486e+05 2.498e+05 2.511e+05 ...
  * y        (y) float64 2.356e+05 2.343e+05 2.33e+05 2.318e+05 2.305e+05 ...
  * time     (time) datetime64[ns] 2009-01-31 2009-02-28 2009-03-31 ...
Attributes:
    affine: [ -9.47639631e+05   1.25654304e+03   0.00000000e+00   1.42927781e+06
   0.00000000e+00  -1.25654304e+03]
    crs: +init=epsg:27700

In [19]:
# Loop over features (polygons) in the shapefile
for f in tqdm(feats):
    # Rasterize the polygon into an array
    rasterized_image = features.rasterize([(shape(f['geometry']),1)],
                                          out_shape=out_shape,
                                          transform=new_aff,
                                          fill=0,
                                          all_touched=True)

    # Extract from the xarray where the rasterized polygon is
    region = data.where(rasterized_image == 1)
    
    # Combine x and y into a new dimension called allpoints and calculate the mean over it
    # and then convert to a dataframe with an appropriate name
    res = region.stack(allpoints=['x','y']).mean(dim='allpoints').to_dataframe(name=f['properties']['MSOA11CD'])
    
    # Append to the list of data frames so we can concatenate them all at the end
    dfs.append(res)
    
stats = pd.concat(dfs, axis=1)

571it [00:19, 28.95it/s]

In [20]:
stats

,E02004135,E02004274,E02004275,E02004276,E02004277,E02004278,E02004279,E02004280,E02004281,E02004282,...,E02004833,E02004834,E02004835,E02004836,E02004837,E02004838,E02004839,E02004840,E02004841,E02004842
time,,,,,,,,,,,,,,,,,,,,,
2009-01-31,11.036351,11.074177,11.336813,12.329901,11.322330,11.527849,11.711205,10.973641,10.378522,10.778198,...,5.484909,6.378874,6.211882,6.364594,7.783272,8.260761,8.689375,7.788092,8.865597,9.572253
2009-02-28,13.770482,14.362714,14.774546,15.625190,15.230903,15.585594,13.904661,16.313732,13.779139,15.407884,...,9.436833,10.597814,10.798383,10.305916,9.590735,10.365150,10.618340,10.262223,10.374441,12.814457
2009-03-31,21.414093,20.700027,18.532654,20.857128,16.173864,16.661110,15.847840,17.770216,16.107325,16.145500,...,13.707492,15.177217,14.348600,15.092255,14.171993,15.621200,15.594087,17.368837,17.816116,16.171137
2009-04-30,19.139040,15.488554,16.225119,18.166796,16.797731,16.667782,15.899181,16.457006,17.240664,16.868095,...,15.941759,17.149181,17.157827,17.327351,15.890182,17.018492,15.903183,16.967382,20.853117,15.418255
2009-05-31,14.395774,13.270014,13.100214,15.067933,14.874117,14.943451,13.381038,13.988222,15.035745,15.012050,...,12.355565,13.598858,13.630667,13.241638,12.325491,13.613892,13.374829,12.420783,14.465070,14.158325
2009-06-30,15.771649,16.159096,15.979660,17.022398,18.948647,19.395357,16.625010,15.698529,17.518682,17.604927,...,17.120426,16.801872,16.707916,16.980459,16.251726,15.380916,15.704908,15.734732,17.190001,17.165659
2009-07-31,25.247181,20.970789,19.977068,21.594770,22.162289,21.529827,18.218445,18.677282,20.780920,20.125082,...,17.402113,17.157465,15.047313,16.177347,16.572735,17.183590,18.126417,17.555292,18.727137,17.179146
2009-08-31,17.346437,17.523203,15.527180,16.390850,14.304886,13.630963,13.668085,13.998794,16.117491,15.483909,...,12.116158,9.753478,13.113767,13.521036,10.764052,12.350710,9.769737,12.439686,14.448535,15.081460
2009-09-30,15.724540,15.390804,14.377311,17.444948,14.091392,13.484543,12.951542,14.048738,14.676509,16.070911,...,11.172209,11.588386,11.273051,11.154902,10.406723,11.616394,10.773179,11.122757,12.592518,13.431556
2009-10-31,13.186878,13.673188,11.165458,14.799953,11.049219,11.179240,10.551237,10.864779,11.823767,11.585290,...,9.405077,8.950052,9.371097,9.129792,10.073079,10.130129,10.658682,10.015660,10.847770,11.619733
2009-11-30,12.707905,11.565512,10.169899,13.469684,8.544808,8.949274,10.024579,11.388907,10.740945,11.870846,...,8.249598,9.167356,8.546005,8.346986,8.204816,8.785425,10.193947,9.421485,9.481067,11.694753
2009-12-31,9.294900,9.375961,9.486907,10.365933,9.198903,9.303349,9.036339,9.247505,8.710699,9.616366,...,9.635509,8.646167,8.796397,8.879147,8.401381,9.134742,8.380026,8.756557,9.131171,9.829259
2010-01-31,9.291088,7.928258,8.321981,9.976365,10.323076,9.405898,8.637691,9.024372,10.275833,10.117560,...,5.786446,6.037178,6.516700,6.471639,6.225819,7.290113,8.091793,7.611112,7.114638,7.239994
2010-02-28,16.615564,14.297887,15.417458,15.392923,17.440594,16.332277,14.957369,15.350186,14.538691,14.050799,...,14.970734,16.105669,15.443483,14.588720,17.219601,14.573173,14.363390,15.273927,14.386989,14.687095
2010-03-31,13.509411,9.653730,9.911131,12.105290,12.683992,12.150526,11.137209,12.491959,12.414994,12.275986,...,9.195395,9.128708,9.510007,9.394958,8.104656,9.032378,8.404335,7.895399,9.963773,11.722548
2010-04-30,15.707620,14.629210,14.405424,16.608046,16.565033,16.451193,15.607185,15.351970,16.718296,17.689320,...,13.912059,15.761420,15.217746,13.656096,13.927776,15.694734,16.623123,15.887619,17.053617,17.642393
2010-05-31,13.957119,16.700628,14.757030,16.851881,17.156244,16.440931,14.518106,14.740994,16.276255,15.180501,...,4.966296,6.153639,5.133127,5.570748,8.928569,9.392610,9.410782,8.128022,11.290235,12.803226
2010-06-30,12.914483,11.569288,10.282426,13.748308,11.273817,10.971608,11.388948,11.585875,13.668387,14.547898,...,11.756956,13.306977,12.840265,12.237736,10.988178,12.328137,13.130145,12.601317,11.706581,12.645626
2010-07-31,15.302982,13.877254,13.496146,15.892198,12.829175,12.941413,11.489082,12.934979,12.740886,12.734013,...,9.259376,10.588282,9.540433,9.350830,10.921550,10.828423,11.850300,13.386974,13.422283,12.601689
2010-08-31,10.898693,9.954053,8.571716,11.080234,8.499057,8.699603,8.861754,8.586892,8.825366,9.391330,...,12.048601,13.478130,14.553401,14.662268,9.778872,12.285912,11.349261,12.106650,11.227420,12.934987
2010-09-30,14.811131,10.856638,11.072541,14.644186,11.443604,11.579020,9.248920,10.452149,9.700869,10.865780,...,10.283050,13.492070,17.326437,17.104774,10.186975,12.638556,11.268644,13.786528,14.794940,13.576038
2010-10-31,9.428450,6.609273,6.990968,9.364541,8.437832,7.983818,7.672660,7.648715,9.159914,9.442910,...,6.390922,6.435071,6.266633,6.240859,5.611251,6.184126,7.011163,7.383846,8.038879,8.441021
2010-11-30,8.945075,8.843485,7.647661,10.056457,8.443423,7.176808,8.365953,8.143140,8.801044,9.108429,...,7.047277,7.351373,7.274728,6.876738,7.235631,7.595587,7.455821,7.068850,8.570141,9.168283
2010-12-31,9.059000,11.559288,9.909872,10.499733,8.106952,7.754821,8.069487,11.111789,10.059293,9.618924,...,9.646284,9.004945,8.355599,5.880500,9.126233,9.207358,12.233171,13.856710,12.060358,14.129292
2011-01-31,8.919906,9.477390,8.384969,10.388928,6.425591,5.887592,7.756363,9.142295,10.330087,10.492320,...,8.761981,9.267008,8.619879,8.400520,7.195178,6.869013,7.763174,6.921209,8.151339,8.770608
2011-02-28,16.911722,10.570307,11.297222,13.853673,11.582199,11.518063,13.376000,13.190499,13.693106,14.449177,...,8.278998,10.045354,9.568215,8.277972,8.054722,9.719959,9.445144,11.288408,9.980103,11.511612
2011-03-31,28.095072,24.538244,24.177771,28.584255,24.890919,23.414480,24.210520,25.198597,26.370457,27.958918,...,18.783764,19.806837,19.274874,18.679096,19.901148,20.942448,22.787756,24.217075,27.095009,29.409094
2011-04-30,16.523415,14.918013,13.787050,16.677149,15.395528,14.947751,13.526056,14.991815,16.106037,16.278315,...,15.555964,16.012300,16.566586,16.951984,16.773293,16.942156,16.923109,17.025778,18.412775,18.814409
2011-05-31,13.930179,13.460028,12.311316,13.111078,13.165600,12.577556,12.746332,13.025960,15.113235,12.458837,...,14.257119,14.482754,13.888681,13.826217,13.070774,12.464088,13.051249,12.099538,12.895110,14.721662
2011-06-30,12.520036,14.827603,14.250842,14.076632,16.134655,14.548290,13.978090,16.684004,15.548826,14.473723,...,14.677616,16.585497,17.283575,16.844860,15.318984,14.443812,13.279160,15.368476,11.525081,11.501702
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2012-01-31,8.939967,8.505988,7.907601,10.171102,7.709844,7.750747,7.936368,8.069389,8.855708,8.753064,...,7.941228,10.847048,8.887223,6.855080,8.070031,9.362842,8.788229,8.590962,8.341549,9.548625
2012-02-29,13.699262,13.658218,13.491703,14.765857,14.185703,13.862477,13.902129,13.698055,14.686973,14.950049,...,10.814587,10.780312,10.431967,10.776446,10.267263,10.943832,10.559316,10.923722,11.465791,13.321712
2012-03-31,18.961817,17.583206,16.977400,18.573208,18.021627,17.972094,16.929749,17.819775,18.540777,19.494049,...,17.472712,18.491884,18.514673,18.470652,15.698614,15.751074,14.570718,15.670624,16.154049,17.219545
2012-04-30,15.471691,15.993991,14.447927,17.403532,15.851144,15.486486,12.702596,14.390518,12.920119,15.407214,...,14.021183,12.856883,12.671350,12.384532,14.229984,13.458805,11.291705,11.344915,11.647573,12.512398
2012-05-31,18.709673,15.262950,14.525122,18.486898,17.013790,16.349394,13.471724,11.672816,10.836177,13.234426,...,15.956291,16.055178,15.686743,15.752315,12.719738,14.765479,11.678290,14.351961,15.000477,13.132622
2012-06-30,13.193958,14.073485,13.732820,15.754943,15.356517,16.052137,14.934386,14.612649,15.354559,16.038652,...,34.365498,44.638500,36.259613,32.045357,29.168377,31.346231,35.371891,34.943184,29.411131,26.137497
2012-07-31,11.949284,10.854504,10.395887,12.098747,12.772646,12.624589,11.119523,12.122237,12.631019,12.631169,...,11.585297,11.328479,11.417648,11.000240,10.585753,9.708708,8.948958,9.385566,10.596706,11.021188
2012-08-31,17.401302,17.450600,15.392798,19.131689,14.832367,14.577916,13.681178,14.870428,14.189713,13.251847,...,13.766156,11.364590,12.834462,14.591080,13.398864,10.557370,13.133200,10.404792,14.295597,16.665812
2012-09-30,12.333588,8.491624,8.711464,10.708138,9.196028,8.668997,8.753380,9.827559,10.194605,11.782710,...,7.423906,8.412617,8.646282,8.760781,7.822304,8.443813,9.306102,9.632914,11.272200,11.448376
2012-10-31,9.360649,9.701668,8.214887,12.310692,8.218246,8.238734,8.001562,7.567048,8.251586,8.849626,...,4.086627,4.865932,4.386506,4.194099,5.159686,6.249281,6.648697,6.358081,8.301421,8.496665
2012-11-30,9.333426,8.207775,7.261279,9.501197,6.757286,7.043350,7.001864,7.375727,6.808443,7.492707,...,8.082579,7.169654,7.167801,7.950307,6.913928,6.712728,6.152945,6.111120,7.025391,7.100085
2012-12-31,10.609702,8.722682,8.311701,9.284531,7.813755,8.221717,8.020725,8.223152,7.758103,8.340898,...,7.138698,7.375910,7.458407,7.307877,5.987422,6.797175,7.268652,6.875957,7.019845,7.407414
2013-01-31,11.432208,9.752029,9.939466,10.974463,7.936752,8.808795,8.806897,9.368929,9.564586,10.729004,...,7.934307,8.167222,8.453524,8.843740,8.158001,8.786242,9.702141,9.693747,9.299246,10.278760
2013-02-28,14.232232,13.731774,12.857486,16.857122,12.860103,12.167615,13.329602,14.016657,14.833926,16.351425,...,11.886065,10.169330,11.236368,11.728978,10.380225,9.837485,9.709067,8.901896,10.274178,11.063854
2013-03-31,18.894272,15.750680,18.130457,18.567448,17.105804,16.340178,17.840199,19.266619,19.031864,18.696016,...,13.235664,11.677258,13.926682,14.365165,13.078655,10.927083,11.552343,11.353882,13.015634,15.900604
2013-04-30,16.257944,14.204229,13.258216,16.670092,12.566076,12.425119,11.397096,12.292527,11.217208,11.782342,...,8.161667,9.102613,10.146282,11.777623,7.653887,7.785058,7.228255,7.412668,7.696139,10.050677
2013-05-31,10.990444,10.172112,9.666654,10.551791,9.327380,8.468081,8.582502,9.506415,9.658491,11.334458,...,8.177058,9.812117,8.935251,9.032546,8.108203,9.256935,8.954980,8.875470,9.211492,9.190965
2013-06-30,16.207489,13.342827,14.059175,14.789414,15.149248,14.728689,13.043147,14.641854,14.689103,16.026106,...,13.054945,13.446235,13.599028,14.042159,11.934665,14.568719,16.201881,17.026588,17.219917,17.992897
2013-07-31,17.910496,16.176826,15.236047,17.735968,16.509565,15.793215,15.181524,15.736460,16.723202,17.978685,...,20.704863,19.951921,19.678600,19.594809,19.302401,19.989437,19.673923,18.400850,19.132919,20.535189
2013-08-31,17.145048,17.717461,16.673412,20.440660,16.962654,16.544794,14.467879,13.872602,14.977195,15.067813,...,12.485928,11.708673,11.514904,11.569456,10.320649,9.973970,11.461354,10.468108,13.179255,13.088467
2013-09-30,15.090394,13.671284,13.102266,15.401912,11.103995,9.791774,10.498605,11.713856,11.263082,11.694701,...,7.046402,8.980785,9.111589,8.109413,9.633393,11.001143,12.519164,10.833640,12.423609,12.536874
2013-10-31,9.782837,7.594763,7.850463,11.262312,6.150652,6.390266,7.522918,8.223713,7.797424,8.961938,...,9.607585,10.504498,10.296626,9.138167,8.941784,9.527529,8.569831,8.415266,8.417294,9.924643
2013-11-30,10.784370,8.638254,7.846768,9.914330,8.064597,7.183605,7.201899,7.842124,7.500162,7.756502,...,5.992764,5.413488,5.014902,5.127142,5.371277,5.427470,5.957871,5.881261,6.277909,7.871100
2013-12-31,5.261418,9.631941,7.484403,9.025861,7.634127,7.215835,7.449770,7.372643,8.615928,8.911014,...,5.300102,6.011648,5.418453,5.354414,6.852975,6.976873,7.261082,6.101848,7.427244,8.740012
2014-01-31,10.084346,9.382653,8.695880,10.487030,7.418344,7.207265,8.825703,9.019654,9.546136,11.656264,...,6.282876,6.694324,6.644393,6.184118,5.089447,6.727834,8.015011,8.185152,7.907712,8.650295
2014-02-28,13.184466,10.264179,11.029140,13.425286,10.876116,10.783738,10.756950,11.898404,11.499063,11.751008,...,12.643659,13.492518,12.860387,12.748472,12.699782,13.413270,13.243959,13.595729,12.733356,12.840896
2014-03-31,18.698744,15.308962,17.147720,21.472998,17.122681,16.792402,18.264944,20.645626,19.046041,19.348997,...,13.604905,13.678319,13.075160,12.602837,13.292624,17.137400,16.882927,16.851671,18.991409,18.737041
2014-04-30,11.186641,11.763875,11.317253,13.630470,13.967488,13.948718,12.108308,12.701927,13.362136,14.531529,...,9.808519,8.775217,9.505306,9.418724,8.894238,8.912810,9.476262,8.808690,9.922717,10.119841
2014-05-31,15.744340,14.069013,14.595212,14.957647,16.026920,15.985855,15.133348,15.850944,16.133423,15.680717,...,12.651462,13.059755,12.410233,11.914066,12.600277,15.416370,12.740543,16.299755,15.579920,12.541267
2014-06-30,15.209107,13.860004,13.335567,17.576929,16.503380,16.688381,13.503393,14.147865,15.580409,15.606640,...,16.847868,14.693157,15.107562,14.776831,15.513544,14.307142,13.955182,15.877763,14.609802,14.841076

In [21]:
stats = stats.dropna(how='all')

In [22]:
melted_stats = pd.melt(stats.reset_index(), id_vars='time', var_name='MSOA').dropna()

In [23]:
melted_stats

            time       MSOA      value
0     2009-01-31  E02004135  11.036351
1     2009-02-28  E02004135  13.770482
2     2009-03-31  E02004135  21.414093
3     2009-04-30  E02004135  19.139040
4     2009-05-31  E02004135  14.395774
5     2009-06-30  E02004135  15.771649
6     2009-07-31  E02004135  25.247181
7     2009-08-31  E02004135  17.346437
8     2009-09-30  E02004135  15.724540
9     2009-10-31  E02004135  13.186878
10    2009-11-30  E02004135  12.707905
11    2009-12-31  E02004135   9.294900
12    2010-01-31  E02004135   9.291088
13    2010-02-28  E02004135  16.615564
14    2010-03-31  E02004135  13.509411
15    2010-04-30  E02004135  15.707620
16    2010-05-31  E02004135  13.957119
17    2010-06-30  E02004135  12.914483
18    2010-07-31  E02004135  15.302982
19    2010-08-31  E02004135  10.898693
20    2010-09-30  E02004135  14.811131
21    2010-10-31  E02004135   9.428450
22    2010-11-30  E02004135   8.945075
23    2010-12-31  E02004135   9.059000
24    2011-01-31  E02004135   8.919906
25    2011-02-28  E02004135  16.911722
26    2011-03-31  E02004135  28.095072
27    2011-04-30  E02004135  16.523415
28    2011-05-31  E02004135  13.930179
29    2011-06-30  E02004135  12.520036
...          ...        ...        ...
37656 2012-01-31  E02004842   9.548625
37657 2012-02-29  E02004842  13.321712
37658 2012-03-31  E02004842  17.219545
37659 2012-04-30  E02004842  12.512398
37660 2012-05-31  E02004842  13.132622
37661 2012-06-30  E02004842  26.137497
37662 2012-07-31  E02004842  11.021188
37663 2012-08-31  E02004842  16.665812
37664 2012-09-30  E02004842  11.448376
37665 2012-10-31  E02004842   8.496665
37666 2012-11-30  E02004842   7.100085
37667 2012-12-31  E02004842   7.407414
37668 2013-01-31  E02004842  10.278760
37669 2013-02-28  E02004842  11.063854
37670 2013-03-31  E02004842  15.900604
37671 2013-04-30  E02004842  10.050677
37672 2013-05-31  E02004842   9.190965
37673 2013-06-30  E02004842  17.992897
37674 2013-07-31  E02004842  20.535189
37675 2013-08-31  E02004842  13.088467
37676 2013-09-30  E02004842  12.536874
37677 2013-10-31  E02004842   9.924643
37678 2013-11-30  E02004842   7.871100
37679 2013-12-31  E02004842   8.740012
37680 2014-01-31  E02004842   8.650295
37681 2014-02-28  E02004842  12.840896
37682 2014-03-31  E02004842  18.737041
37683 2014-04-30  E02004842  10.119841
37684 2014-05-31  E02004842  12.541267
37685 2014-06-30  E02004842  14.841076

[37670 rows x 3 columns]

In [24]:
melted_stats['month'] = melted_stats.time.dt.month

In [25]:
melted_stats['year'] = melted_stats.time.dt.year

In [26]:
melted_stats.head()

        time       MSOA      value  month  year
0 2009-01-31  E02004135  11.036351      1  2009
1 2009-02-28  E02004135  13.770482      2  2009
2 2009-03-31  E02004135  21.414093      3  2009
3 2009-04-30  E02004135  19.139040      4  2009
4 2009-05-31  E02004135  14.395774      5  2009

In [27]:
melted_stats.to_csv(r'D:\Annies_Dissertation\Analysis\Regression\MSOA\Monthly_PM25_MSOA.csv')

## Validating with AP for a LSOA (E01017182) that is located within a pixel

In [ ]:
PM25 = xr.open_mfdataset(r'C:\MAIACData\nc_monthly_daily\*PM25.nc')['data']

In [ ]:
PM25

In [ ]:
a = PM25.attrs['affine']
a = rasterio.Affine.from_gdal(*a)
~a * (439040, 115775)

In [ ]:
PM25 = PM25.isel(time=np.argsort(PM25.time))

In [ ]:
After2009 = PM25.sel(time=slice('2009', '2016'))

In [ ]:
monthly_data = After2009.resample('M', dim='time', how='mean', keep_attrs=True)

In [ ]:
ts = monthly_data.isel(x=1103, y=1045).load()

In [ ]:
ts

In [ ]:
result = ts.to_dataframe()

In [ ]:
result.dropna()

In [ ]:
result.to_csv(r'D:\Annies_Dissertation\Analysis\Regression\Validation\Monthly_PM25_LSOA_Validation.csv')

### Joining data for pixel and LSOA to validate Rasterstats method

In [1]:
from dateutil.parser import parse

In [34]:
Pixel = pd.read_csv(r'D:\Annies_Dissertation\Analysis\Regression\Validation\Monthly_PM25_LSOA_Validation.csv', parse_dates=['time'])

In [66]:
Pixel[:10]

                 data       LSOA
time
2009-01-31   8.010561  E01017182
2009-02-28   7.790070  E01017182
2009-03-31  13.203969  E01017182
2009-04-30  14.404096  E01017182
2009-05-31  13.632330  E01017182
2009-06-30  11.638875  E01017182
2009-07-31  13.614918  E01017182
2009-08-31  12.393079  E01017182
2009-09-30  13.358428  E01017182
2009-10-31  12.025865  E01017182

In [36]:
Pixel = Pixel.set_index('time')

In [37]:
Pixel = Pixel[['data']].dropna()

In [38]:
Pixel['LSOA'] = 'E01017182'

In [58]:
Area = pd.read_csv(r'D:\Annies_Dissertation\Analysis\Regression\Monthly_PM25_LSOA.csv', parse_dates=['time'])

In [62]:
Area[:10]

                 LSOA      value
time
2009-01-31  E01014869   4.894197
2009-02-28  E01014869   8.269163
2009-03-31  E01014869  16.443802
2009-04-30  E01014869  12.831035
2009-05-31  E01014869   9.983700
2009-06-30  E01014869  14.679679
2009-07-31  E01014869  11.896524
2009-08-31  E01014869  17.366266
2009-09-30  E01014869  11.546007
2009-10-31  E01014869   8.697833

In [60]:
Area = Area.set_index('time')

In [61]:
Area = Area[['LSOA', 'value']].dropna()

In [64]:
E01 = Area.loc[Area['LSOA'] == 'E01017182']

In [65]:
E01

                 LSOA      value
time
2009-01-31  E01017182   8.010561
2009-02-28  E01017182   7.790070
2009-03-31  E01017182  13.203969
2009-04-30  E01017182  14.404096
2009-05-31  E01017182  13.632330
2009-06-30  E01017182  11.638875
2009-07-31  E01017182  13.614918
2009-08-31  E01017182  12.393079
2009-09-30  E01017182  13.358428
2009-10-31  E01017182  12.025865
2009-11-30  E01017182   7.563473
2009-12-31  E01017182   6.933330
2010-01-31  E01017182   2.834002
2010-02-28  E01017182   8.099767
2010-03-31  E01017182   5.791169
2010-04-30  E01017182  12.696402
2010-05-31  E01017182  10.230539
2010-06-30  E01017182   8.173983
2010-07-31  E01017182  15.436866
2010-08-31  E01017182   9.871422
2010-09-30  E01017182  14.359910
2010-10-31  E01017182   7.349367
2010-11-30  E01017182   5.709067
2010-12-31  E01017182   3.427713
2011-01-31  E01017182   6.085733
2011-02-28  E01017182   5.812774
2011-03-31  E01017182  25.315361
2011-04-30  E01017182  13.275676
2011-05-31  E01017182  17.412249
2011-06-30  E01017182  12.600299
...               ...        ...
2012-01-31  E01017182   8.698584
2012-02-29  E01017182  12.288255
2012-03-31  E01017182  16.118940
2012-04-30  E01017182  13.911578
2012-05-31  E01017182  14.500471
2012-06-30  E01017182  24.114754
2012-07-31  E01017182   9.818642
2012-08-31  E01017182  13.908880
2012-09-30  E01017182  11.292111
2012-10-31  E01017182   8.537384
2012-11-30  E01017182   4.896462
2012-12-31  E01017182   6.155602
2013-01-31  E01017182   7.236534
2013-02-28  E01017182  13.197854
2013-03-31  E01017182  13.385777
2013-04-30  E01017182  11.524849
2013-05-31  E01017182  11.079807
2013-06-30  E01017182  16.355505
2013-07-31  E01017182  18.687141
2013-08-31  E01017182  12.746965
2013-09-30  E01017182  13.937560
2013-10-31  E01017182  10.789170
2013-11-30  E01017182   7.118971
2013-12-31  E01017182   6.876851
2014-01-31  E01017182   5.029125
2014-02-28  E01017182  15.276940
2014-03-31  E01017182  17.115871
2014-04-30  E01017182   7.087861
2014-05-31  E01017182  11.811122
2014-06-30  E01017182  12.375697

[66 rows x 2 columns]

In [67]:
result = pd.merge(Pixel, E01, left_index=True, right_index=True)

In [68]:
result.dropna()

                 data     LSOA_x     LSOA_y      value
time
2009-01-31   8.010561  E01017182  E01017182   8.010561
2009-02-28   7.790070  E01017182  E01017182   7.790070
2009-03-31  13.203969  E01017182  E01017182  13.203969
2009-04-30  14.404096  E01017182  E01017182  14.404096
2009-05-31  13.632330  E01017182  E01017182  13.632330
2009-06-30  11.638875  E01017182  E01017182  11.638875
2009-07-31  13.614918  E01017182  E01017182  13.614918
2009-08-31  12.393079  E01017182  E01017182  12.393079
2009-09-30  13.358428  E01017182  E01017182  13.358428
2009-10-31  12.025865  E01017182  E01017182  12.025865
2009-11-30   7.563473  E01017182  E01017182   7.563473
2009-12-31   6.933330  E01017182  E01017182   6.933330
2010-01-31   2.834002  E01017182  E01017182   2.834002
2010-02-28   8.099767  E01017182  E01017182   8.099767
2010-03-31   5.791169  E01017182  E01017182   5.791169
2010-04-30  12.696402  E01017182  E01017182  12.696402
2010-05-31  10.230539  E01017182  E01017182  10.230539
2010-06-30   8.173983  E01017182  E01017182   8.173983
2010-07-31  15.436866  E01017182  E01017182  15.436866
2010-08-31   9.871422  E01017182  E01017182   9.871422
2010-09-30  14.359910  E01017182  E01017182  14.359910
2010-10-31   7.349367  E01017182  E01017182   7.349367
2010-11-30   5.709067  E01017182  E01017182   5.709067
2010-12-31   3.427713  E01017182  E01017182   3.427713
2011-01-31   6.085733  E01017182  E01017182   6.085733
2011-02-28   5.812774  E01017182  E01017182   5.812774
2011-03-31  25.315361  E01017182  E01017182  25.315361
2011-04-30  13.275676  E01017182  E01017182  13.275676
2011-05-31  17.412249  E01017182  E01017182  17.412249
2011-06-30  12.600299  E01017182  E01017182  12.600299
...               ...        ...        ...        ...
2012-01-31   8.698584  E01017182  E01017182   8.698584
2012-02-29  12.288255  E01017182  E01017182  12.288255
2012-03-31  16.118940  E01017182  E01017182  16.118940
2012-04-30  13.911578  E01017182  E01017182  13.911578
2012-05-31  14.500471  E01017182  E01017182  14.500471
2012-06-30  24.114754  E01017182  E01017182  24.114754
2012-07-31   9.818642  E01017182  E01017182   9.818642
2012-08-31  13.908880  E01017182  E01017182  13.908880
2012-09-30  11.292111  E01017182  E01017182  11.292111
2012-10-31   8.537384  E01017182  E01017182   8.537384
2012-11-30   4.896462  E01017182  E01017182   4.896462
2012-12-31   6.155602  E01017182  E01017182   6.155602
2013-01-31   7.236534  E01017182  E01017182   7.236534
2013-02-28  13.197854  E01017182  E01017182  13.197854
2013-03-31  13.385777  E01017182  E01017182  13.385777
2013-04-30  11.524849  E01017182  E01017182  11.524849
2013-05-31  11.079807  E01017182  E01017182  11.079807
2013-06-30  16.355505  E01017182  E01017182  16.355505
2013-07-31  18.687141  E01017182  E01017182  18.687141
2013-08-31  12.746965  E01017182  E01017182  12.746965
2013-09-30  13.937560  E01017182  E01017182  13.937560
2013-10-31  10.789170  E01017182  E01017182  10.789170
2013-11-30   7.118971  E01017182  E01017182   7.118971
2013-12-31   6.876851  E01017182  E01017182   6.876851
2014-01-31   5.029125  E01017182  E01017182   5.029125
2014-02-28  15.276940  E01017182  E01017182  15.276940
2014-03-31  17.115871  E01017182  E01017182  17.115871
2014-04-30   7.087861  E01017182  E01017182   7.087861
2014-05-31  11.811122  E01017182  E01017182  11.811122
2014-06-30  12.375697  E01017182  E01017182  12.375697

[66 rows x 4 columns]

In [69]:
result['Difference'] = result['data']- result['value']

In [70]:
result[:10]

                 data     LSOA_x     LSOA_y      value  Difference
time
2009-01-31   8.010561  E01017182  E01017182   8.010561         0.0
2009-02-28   7.790070  E01017182  E01017182   7.790070         0.0
2009-03-31  13.203969  E01017182  E01017182  13.203969         0.0
2009-04-30  14.404096  E01017182  E01017182  14.404096         0.0
2009-05-31  13.632330  E01017182  E01017182  13.632330         0.0
2009-06-30  11.638875  E01017182  E01017182  11.638875         0.0
2009-07-31  13.614918  E01017182  E01017182  13.614918         0.0
2009-08-31  12.393079  E01017182  E01017182  12.393079         0.0
2009-09-30  13.358428  E01017182  E01017182  13.358428         0.0
2009-10-31  12.025865  E01017182  E01017182  12.025865         0.0

In [71]:
result.Difference.value_counts()

0.0    66
Name: Difference, dtype: int64

In [72]:
result.groupby('Difference').count()

            data  LSOA_x  LSOA_y  value
Difference
0.0           66      66      66     66

## Yearly

In [11]:
yearly_data = After2009.resample('A', dim='time', how='mean', keep_attrs=True)

In [12]:
yearly_data

<xarray.DataArray 'data' (time: 6, y: 212, x: 290)>
dask.array<transpo..., shape=(6, 212, 290), dtype=float32, chunksize=(1, 212, 290)>
Coordinates:
  * x        (x) float64 2.461e+05 2.473e+05 2.486e+05 2.498e+05 2.511e+05 ...
  * y        (y) float64 2.356e+05 2.343e+05 2.33e+05 2.318e+05 2.305e+05 ...
  * time     (time) datetime64[ns] 2009-12-31 2010-12-31 2011-12-31 ...
Attributes:
    affine: [ -9.47639631e+05   1.25654304e+03   0.00000000e+00   1.42927781e+06
   0.00000000e+00  -1.25654304e+03]
    crs: +init=epsg:27700

In [13]:
data = yearly_data

In [14]:
# Get the actual Affine object from the data stored in the attrs
orig_aff = rasterio.Affine.from_gdal(*data.attrs['affine'])

In [15]:
def window_bounds(window, affine):
    (row_start, row_stop), (col_start, col_stop) = window
    w, s = (col_start, row_stop) * affine
    e, n = (col_stop, row_start) * affine
    return w, s, e, n

In [16]:
c, _, _, f = window_bounds( ( (x_start, 5000), (y_start, 5000)), orig_aff)  # c ~ west, f ~ north
a, b, _, d, e, _, _, _, _ = tuple(orig_aff)
new_aff = rasterio.Affine(a, b, c, d, e, f)

In [17]:
orig_aff

Affine(1256.5430440955893, 0.0, -947639.63051064778,
       0.0, -1256.5430440955893, 1429277.8120091767)

In [18]:
new_aff

Affine(1256.5430440955893, 0.0, 246076.26138016209,
       0.0, -1256.5430440955893, 235561.92011836683)

In [19]:
# Image to rasterize the polygons in to
rasterized_image = np.zeros(data.isel(time=0).shape, dtype=np.int)

# List to store dataframes in
dfs = []

feats = read_features(r'D:\Annies_Dissertation\Data\Boundaries\LSOA_Wessex.shp')

out_shape = data.isel(time=0).shape

In [20]:
data = data.load()

D:\Anaconda3\lib\site-packages\dask\array\numpy_compat.py:45: RuntimeWarning: invalid value encountered in true_divide
  x = np.divide(x1, x2, out)

In [21]:
# Loop over features (polygons) in the shapefile
for f in tqdm(feats):
    # Rasterize the polygon into an array
    rasterized_image = features.rasterize([(shape(f['geometry']),1)],
                                          out_shape=out_shape,
                                          transform=new_aff,
                                          fill=0,
                                          all_touched=True)

    # Extract from the xarray where the rasterized polygon is
    region = data.where(rasterized_image == 1)
    
    # Combine x and y into a new dimension called allpoints and calculate the mean over it
    # and then convert to a dataframe with an appropriate name
    res = region.stack(allpoints=['x','y']).mean(dim='allpoints').to_dataframe(name=f['properties']['LSOA11CD'])
    
    # Append to the list of data frames so we can concatenate them all at the end
    dfs.append(res)
    
stats = pd.concat(dfs, axis=1)

2578it [00:24, 104.86it/s]

In [22]:
stats

,E01014869,E01014890,E01014891,E01015272,E01015273,E01015274,E01015275,E01015276,E01015277,E01015279,...,E01033241,E01033242,E01033283,E01033285,E01033286,E01033288,E01033380,E01033381,E01033383,E01033384
time,,,,,,,,,,,,,,,,,,,,,
2009-12-31,11.056740,10.958618,10.680703,15.233035,15.614657,15.820494,15.245512,15.811707,15.684235,15.220558,...,15.220558,17.743645,15.220558,17.743645,18.015972,18.061174,13.105443,14.531994,14.531994,11.883699
2010-12-31,9.198227,8.324327,8.408011,12.563782,13.049275,13.424196,12.988467,13.504366,13.160589,12.139097,...,12.139097,14.032820,12.139097,14.032820,14.383579,14.215097,11.614311,12.219908,12.219908,11.361659
2011-12-31,9.872396,10.465442,10.453424,16.608112,16.794128,17.424191,17.384394,17.275280,16.854765,15.831831,...,15.831831,17.672132,15.831831,17.672132,18.272284,18.490141,15.904312,16.433113,16.433113,14.119357
2012-12-31,9.418056,8.765922,8.615190,12.270921,13.020046,13.808305,12.656074,13.587185,13.379829,11.885768,...,11.885768,16.277164,11.885768,16.277164,16.840157,16.948296,12.707359,14.076880,14.076880,11.542398
2013-12-31,9.172091,9.387990,8.886120,12.437767,12.870800,13.216434,13.343239,13.540052,13.102798,11.532296,...,11.532296,16.084095,11.532296,16.084095,16.323599,16.072855,11.489400,11.758610,11.758610,10.227263
2014-12-31,9.128167,8.018132,8.864597,14.177834,14.556643,15.937187,14.690467,15.002365,14.955285,13.665200,...,13.665200,14.386749,13.665200,14.386749,15.996344,16.168161,14.252884,14.098279,14.098279,14.398606

In [23]:
stats = stats.dropna(how='all')

In [24]:
melted_stats = pd.melt(stats.reset_index(), id_vars='time', var_name='LSOA').dropna()

In [25]:
melted_stats

            time       LSOA      value
0     2009-12-31  E01014869  11.056740
1     2010-12-31  E01014869   9.198227
2     2011-12-31  E01014869   9.872396
3     2012-12-31  E01014869   9.418056
4     2013-12-31  E01014869   9.172091
5     2014-12-31  E01014869   9.128167
6     2009-12-31  E01014890  10.958618
7     2010-12-31  E01014890   8.324327
8     2011-12-31  E01014890  10.465442
9     2012-12-31  E01014890   8.765922
10    2013-12-31  E01014890   9.387990
11    2014-12-31  E01014890   8.018132
12    2009-12-31  E01014891  10.680703
13    2010-12-31  E01014891   8.408011
14    2011-12-31  E01014891  10.453424
15    2012-12-31  E01014891   8.615190
16    2013-12-31  E01014891   8.886120
17    2014-12-31  E01014891   8.864597
18    2009-12-31  E01015272  15.233035
19    2010-12-31  E01015272  12.563782
20    2011-12-31  E01015272  16.608112
21    2012-12-31  E01015272  12.270921
22    2013-12-31  E01015272  12.437767
23    2014-12-31  E01015272  14.177834
24    2009-12-31  E01015273  15.614657
25    2010-12-31  E01015273  13.049275
26    2011-12-31  E01015273  16.794128
27    2012-12-31  E01015273  13.020046
28    2013-12-31  E01015273  12.870800
29    2014-12-31  E01015273  14.556643
...          ...        ...        ...
15438 2009-12-31  E01033288  18.061174
15439 2010-12-31  E01033288  14.215097
15440 2011-12-31  E01033288  18.490141
15441 2012-12-31  E01033288  16.948296
15442 2013-12-31  E01033288  16.072855
15443 2014-12-31  E01033288  16.168161
15444 2009-12-31  E01033380  13.105443
15445 2010-12-31  E01033380  11.614311
15446 2011-12-31  E01033380  15.904312
15447 2012-12-31  E01033380  12.707359
15448 2013-12-31  E01033380  11.489400
15449 2014-12-31  E01033380  14.252884
15450 2009-12-31  E01033381  14.531994
15451 2010-12-31  E01033381  12.219908
15452 2011-12-31  E01033381  16.433113
15453 2012-12-31  E01033381  14.076880
15454 2013-12-31  E01033381  11.758610
15455 2014-12-31  E01033381  14.098279
15456 2009-12-31  E01033383  14.531994
15457 2010-12-31  E01033383  12.219908
15458 2011-12-31  E01033383  16.433113
15459 2012-12-31  E01033383  14.076880
15460 2013-12-31  E01033383  11.758610
15461 2014-12-31  E01033383  14.098279
15462 2009-12-31  E01033384  11.883699
15463 2010-12-31  E01033384  11.361659
15464 2011-12-31  E01033384  14.119357
15465 2012-12-31  E01033384  11.542398
15466 2013-12-31  E01033384  10.227263
15467 2014-12-31  E01033384  14.398606

[15468 rows x 3 columns]

In [26]:
melted_stats['year'] = melted_stats.time.dt.year

In [27]:
melted_stats.head()

        time       LSOA      value  year
0 2009-12-31  E01014869  11.056740  2009
1 2010-12-31  E01014869   9.198227  2010
2 2011-12-31  E01014869   9.872396  2011
3 2012-12-31  E01014869   9.418056  2012
4 2013-12-31  E01014869   9.172091  2013

In [28]:
melted_stats.to_csv(r'D:\Annies_Dissertation\Analysis\Regression\Yearly_PM25_LSOA.csv')