In [63]:
import pandas as pd
from statsmodels.formula.api import ols

# Merging MSOA codes and HES
## Circulatory

In [19]:
Circulatory_monthly = pd.read_csv(r'D:\Annies_Dissertation\Analysis\Regression\HES\AllCirculatory_monthly_all.csv')

In [20]:
Circulatory_monthly[:5]

,Unnamed: 0,Disease,year,month,lsoa11,n,DSR,lcl,ucl,score,rank,decile
0,0,All Circulatory,2009,1,E01015272,NaN,69.247604,8.247776,250.557617,11.430000,22492,7
1,1,All Circulatory,2009,1,E01015273,NaN,147.841522,3.743035,823.720154,33.619999,6665,3
2,2,All Circulatory,2009,1,E01015274,NaN,187.446503,38.159660,549.000244,20.290001,13991,5
3,3,All Circulatory,2009,1,E01015275,NaN,309.000488,59.781487,912.577209,19.780001,14447,5
4,4,All Circulatory,2009,1,E01015276,NaN,162.742996,15.881656,599.259460,26.400000,10063,4

In [21]:
Circulatory_monthly = Circulatory_monthly[['Disease', 'year', 'month', 'n', 'DSR', 'lcl', 'ucl', 'score', 'rank', 'decile', 'lsoa11']]

In [22]:
Circulatory_monthly.shape

(89412, 11)

In [47]:
MSOA = pd.read_csv(r'D:\Annies_Dissertation\Analysis\Regression\MSOA\LSOA_MSOA_Codes.csv')

In [48]:
MSOA = MSOA.rename(columns={'LSOA11CD':'lsoa11'})

In [52]:
MSOA[:5]

       lsoa11             LSOA11NM   MSOA11CD            MSOA11NM
0   E01000001  City of London 001A  E02000001  City of London 001
4   E01000003  City of London 001C  E02000001  City of London 001
8   E01000002  City of London 001B  E02000001  City of London 001
16  E01032739  City of London 001F  E02000001  City of London 001
17  E01032740  City of London 001G  E02000001  City of London 001

In [50]:
MSOA.shape

(181408, 4)

In [51]:
MSOA = MSOA.drop_duplicates('lsoa11')

In [53]:
Circ_MSOA = Circulatory_monthly.merge(MSOA, on='lsoa11', how = 'left')

In [57]:
Circ_MSOA[:5]

,Disease,year,month,n,DSR,lcl,ucl,score,rank,decile,lsoa11,LSOA11NM,MSOA11CD,MSOA11NM
0,All Circulatory,2009,1,NaN,69.247604,8.247776,250.557617,11.430000,22492,7,E01015272,Bournemouth 016A,E02003187,Bournemouth 016
1,All Circulatory,2009,1,NaN,147.841522,3.743035,823.720154,33.619999,6665,3,E01015273,Bournemouth 016B,E02003187,Bournemouth 016
2,All Circulatory,2009,1,NaN,187.446503,38.159660,549.000244,20.290001,13991,5,E01015274,Bournemouth 018A,E02003189,Bournemouth 018
3,All Circulatory,2009,1,NaN,309.000488,59.781487,912.577209,19.780001,14447,5,E01015275,Bournemouth 016C,E02003187,Bournemouth 016
4,All Circulatory,2009,1,NaN,162.742996,15.881656,599.259460,26.400000,10063,4,E01015276,Bournemouth 016D,E02003187,Bournemouth 016

In [56]:
Circ_MSOA.to_csv(r'D:\Annies_Dissertation\Analysis\Regression\MSOA\Circ_MSOA.csv')

## Respiratory

In [94]:
Respiratory_monthly = pd.read_csv(r'D:\Annies_Dissertation\Analysis\Regression\HES\AllRespiratory_monthly_all.csv')

In [97]:
Respiratory_monthly[:5]

,Disease,year,month,n,DSR,lcl,ucl,score,rank,decile,lsoa11
0,All Respiratory,2009,1,NaN,78.530869,1.988227,437.546020,20.290001,13991,5,E01015274
1,All Respiratory,2009,1,NaN,198.915909,20.564419,729.030701,19.780001,14447,5,E01015275
2,All Respiratory,2009,1,8.0,519.371643,196.146973,1071.320923,26.400000,10063,4,E01015276
3,All Respiratory,2009,1,6.0,607.023254,197.484589,1368.225708,35.400002,5995,2,E01015277
4,All Respiratory,2009,1,5.0,469.725189,136.399750,1128.015015,45.439999,3096,1,E01015279

In [96]:
Respiratory_monthly = Respiratory_monthly[['Disease', 'year', 'month', 'n', 'DSR', 'lcl', 'ucl', 'score', 'rank', 'decile', 'lsoa11']]

In [98]:
Respiratory_monthly.shape

(87078, 11)

In [99]:
MSOA = pd.read_csv(r'D:\Annies_Dissertation\Analysis\Regression\MSOA\LSOA_MSOA_Codes.csv')

In [100]:
MSOA = MSOA.rename(columns={'LSOA11CD':'lsoa11'})

In [101]:
MSOA = MSOA.drop_duplicates('lsoa11')

In [102]:
Resp_MSOA = Respiratory_monthly.merge(MSOA, on='lsoa11', how = 'left')

In [103]:
Resp_MSOA[:5]

,Disease,year,month,n,DSR,lcl,ucl,score,rank,decile,lsoa11,LSOA11NM,MSOA11CD,MSOA11NM
0,All Respiratory,2009,1,NaN,78.530869,1.988227,437.546020,20.290001,13991,5,E01015274,Bournemouth 018A,E02003189,Bournemouth 018
1,All Respiratory,2009,1,NaN,198.915909,20.564419,729.030701,19.780001,14447,5,E01015275,Bournemouth 016C,E02003187,Bournemouth 016
2,All Respiratory,2009,1,8.0,519.371643,196.146973,1071.320923,26.400000,10063,4,E01015276,Bournemouth 016D,E02003187,Bournemouth 016
3,All Respiratory,2009,1,6.0,607.023254,197.484589,1368.225708,35.400002,5995,2,E01015277,Bournemouth 016E,E02003187,Bournemouth 016
4,All Respiratory,2009,1,5.0,469.725189,136.399750,1128.015015,45.439999,3096,1,E01015279,Bournemouth 019B,E02003190,Bournemouth 019

In [104]:
Resp_MSOA.to_csv(r'D:\Annies_Dissertation\Analysis\Regression\MSOA\Resp_MSOA.csv')

# Aggregate HES data by MSOA

In [58]:
Circ_MSOA_av = Circ_MSOA.groupby(['MSOA11CD', 'year', 'month']).mean()

In [105]:
Circ_MSOA_av[:5]

                        n         DSR        lcl         ucl      score  \
MSOA11CD  year month
E02003172 2009 1      NaN  139.395540  20.864138  473.750473  26.565001
               2      6.0  247.891222  63.525640  657.409447  26.565001
               3      NaN  159.793131  21.647828  541.920647  26.565001
               4      NaN  157.163125  30.299196  500.199455  26.565001
               5      5.0  188.090759  40.868013  577.325348  26.565001

                          rank  decile
MSOA11CD  year month
E02003172 2009 1      10375.25    3.75
               2      10375.25    3.75
               3      10375.25    3.75
               4      10375.25    3.75
               5      10375.25    3.75

In [60]:
Circ_MSOA_av.corr()

               n       DSR       lcl       ucl     score      rank    decile
n       1.000000  0.217359  0.449466  0.040886 -0.052161  0.045773  0.045724
DSR     0.217359  1.000000  0.698343  0.853958  0.185007 -0.178740 -0.178490
lcl     0.449466  0.698343  1.000000  0.282857  0.051795 -0.056557 -0.056954
ucl     0.040886  0.853958  0.282857  1.000000  0.224374 -0.212512 -0.211838
score  -0.052161  0.185007  0.051795  0.224374  1.000000 -0.963845 -0.961082
rank    0.045773 -0.178740 -0.056557 -0.212512 -0.963845  1.000000  0.997660
decile  0.045724 -0.178490 -0.056954 -0.211838 -0.961082  0.997660  1.000000

In [62]:
Circ_MSOA_av.to_csv(r'D:\Annies_Dissertation\Analysis\Regression\MSOA\Circ_MSOA_av.csv')

In [106]:
Resp_MSOA_av = Resp_MSOA.groupby(['MSOA11CD', 'year', 'month']).mean()

In [107]:
Resp_MSOA_av[:5]

                        n         DSR        lcl         ucl      score  \
MSOA11CD  year month
E02003172 2009 1      5.0  223.234146  54.443128  607.369141  29.110001
               2      NaN  195.561577  39.814646  572.760834  31.475001
               3      NaN  136.016276  19.786146  454.011149  29.110001
               4      NaN  119.464529  18.915072  435.506355  26.565001
               5      NaN  134.464751  18.021936  481.987610  26.565001

                              rank    decile
MSOA11CD  year month
E02003172 2009 1       8796.666667  3.333333
               2       7590.500000  3.000000
               3       8796.666667  3.333333
               4      10375.250000  3.750000
               5      10375.250000  3.750000

In [108]:
Resp_MSOA_av.corr()

               n       DSR       lcl       ucl     score      rank    decile
n       1.000000  0.267295  0.437180  0.147594  0.093316 -0.088794 -0.087586
DSR     0.267295  1.000000  0.706791  0.877921  0.333915 -0.314150 -0.312413
lcl     0.437180  0.706791  1.000000  0.383902  0.295044 -0.282801 -0.281310
ucl     0.147594  0.877921  0.383902  1.000000  0.263680 -0.244062 -0.243129
score   0.093316  0.333915  0.295044  0.263680  1.000000 -0.964139 -0.961334
rank   -0.088794 -0.314150 -0.282801 -0.244062 -0.964139  1.000000  0.997575
decile -0.087586 -0.312413 -0.281310 -0.243129 -0.961334  0.997575  1.000000

In [109]:
Resp_MSOA_av.to_csv(r'D:\Annies_Dissertation\Analysis\Regression\MSOA\Resp_MSOA_av.csv')

# Merging AP and HES data

In [73]:
MSOA_HES = pd.read_csv(r'D:\Annies_Dissertation\Analysis\Regression\MSOA\Circ_MSOA_av.csv')

In [110]:
MSOA_HES[:2]

,msoa11,year,month,n,DSR,lcl,ucl,score,rank,decile
0,E02003172,2009,1,NaN,139.395540,20.864138,473.750473,26.565001,10375.25,3.75
1,E02003172,2009,2,6.0,247.891222,63.525640,657.409447,26.565001,10375.25,3.75

In [83]:
MSOA_HES = MSOA_HES.rename(columns={'MSOA11CD':'msoa11'})

In [85]:
MSOA_AP = pd.read_csv(r'D:\Annies_Dissertation\Analysis\Regression\MSOA\Monthly_PM25_MSOA.csv')

In [111]:
MSOA_AP[:2]

         time     msoa11       PM25  month  year
0  2009-01-31  E02004135  11.036351      1  2009
1  2009-02-28  E02004135  13.770482      2  2009

In [87]:
MSOA_AP = MSOA_AP.rename(columns={'MSOA':'msoa11', 'value':'PM25'})

In [88]:
MSOA_AP = MSOA_AP[['time', 'msoa11', 'PM25', 'month', 'year']]

In [90]:
MSOA_Circ_AP = pd.merge(MSOA_HES, MSOA_AP, on=['year', 'month', 'msoa11'], how='inner')

In [112]:
MSOA_Circ_AP[:2]

,msoa11,year,month,n,DSR,lcl,ucl,score,rank,decile,time,PM25
0,E02003172,2009,1,NaN,139.395540,20.864138,473.750473,26.565001,10375.25,3.75,2009-01-31,8.737169
1,E02003172,2009,2,6.0,247.891222,63.525640,657.409447,26.565001,10375.25,3.75,2009-02-28,15.637111

In [92]:
MSOA_Circ_AP.to_csv(r'D:\Annies_Dissertation\Analysis\Regression\MSOA\MSOA_Circ_AP.csv')

In [93]:
MSOA_Circ_AP.corr()

,year,month,n,DSR,lcl,ucl,score,rank,decile,PM25
year,1.000000,-0.134818,-0.037132,-0.072913,-0.044820,-0.074966,-0.001221,0.001764,0.001744,-0.047966
month,-0.134818,1.000000,-0.004101,0.008023,0.007495,0.008248,-0.000045,0.000909,0.001492,-0.215077
n,-0.037132,-0.004101,1.000000,0.217359,0.449466,0.040886,-0.052161,0.045773,0.045724,0.026090
DSR,-0.072913,0.008023,0.217359,1.000000,0.698472,0.853960,0.184989,-0.178712,-0.178460,0.002037
lcl,-0.044820,0.007495,0.449466,0.698472,1.000000,0.283007,0.051782,-0.056562,-0.056959,0.014893
ucl,-0.074966,0.008248,0.040886,0.853960,0.283007,1.000000,0.224370,-0.212494,-0.211818,-0.006968
score,-0.001221,-0.000045,-0.052161,0.184989,0.051782,0.224370,1.000000,-0.963847,-0.961084,0.068243
rank,0.001764,0.000909,0.045773,-0.178712,-0.056562,-0.212494,-0.963847,1.000000,0.997660,-0.071154
decile,0.001744,0.001492,0.045724,-0.178460,-0.056959,-0.211818,-0.961084,0.997660,1.000000,-0.070374
PM25,-0.047966,-0.215077,0.026090,0.002037,0.014893,-0.006968,0.068243,-0.071154,-0.070374,1.000000

In [113]:
MSOA_HES_Resp = pd.read_csv(r'D:\Annies_Dissertation\Analysis\Regression\MSOA\Resp_MSOA_av.csv')

In [116]:
MSOA_HES_Resp = MSOA_HES_Resp.rename(columns={'MSOA11CD':'msoa11'})

In [117]:
MSOA_HES_Resp[:5]

,msoa11,year,month,n,DSR,lcl,ucl,score,rank,decile
0,E02003172,2009,1,5.0,223.234146,54.443128,607.369141,29.110001,8796.666667,3.333333
1,E02003172,2009,2,NaN,195.561577,39.814646,572.760834,31.475001,7590.500000,3.000000
2,E02003172,2009,3,NaN,136.016276,19.786146,454.011149,29.110001,8796.666667,3.333333
3,E02003172,2009,4,NaN,119.464529,18.915072,435.506355,26.565001,10375.250000,3.750000
4,E02003172,2009,5,NaN,134.464751,18.021936,481.987610,26.565001,10375.250000,3.750000

In [118]:
MSOA_Resp_AP = pd.merge(MSOA_HES_Resp, MSOA_AP, on=['year', 'month', 'msoa11'], how='inner')

In [119]:
MSOA_Resp_AP[:10]

,msoa11,year,month,n,DSR,lcl,ucl,score,rank,decile,time,PM25
0,E02003172,2009,1,5.0,223.234146,54.443128,607.369141,29.110001,8796.666667,3.333333,2009-01-31,8.737169
1,E02003172,2009,2,NaN,195.561577,39.814646,572.760834,31.475001,7590.500000,3.000000,2009-02-28,15.637111
2,E02003172,2009,3,NaN,136.016276,19.786146,454.011149,29.110001,8796.666667,3.333333,2009-03-31,12.306801
3,E02003172,2009,4,NaN,119.464529,18.915072,435.506355,26.565001,10375.250000,3.750000,2009-04-30,14.714980
4,E02003172,2009,5,NaN,134.464751,18.021936,481.987610,26.565001,10375.250000,3.750000,2009-05-31,11.888535
5,E02003172,2009,6,5.0,198.925947,40.144129,608.429573,26.565001,10375.250000,3.750000,2009-06-30,16.207399
6,E02003172,2009,7,NaN,85.377220,13.026614,413.473277,26.565001,10375.250000,3.750000,2009-07-31,19.488508
7,E02003172,2009,8,NaN,65.699850,5.555063,419.812510,26.565001,10375.250000,3.750000,2009-08-31,14.624304
8,E02003172,2009,9,NaN,58.384464,1.478167,325.297409,26.565001,10375.250000,3.750000,2009-09-30,12.108564
9,E02003172,2009,10,NaN,163.605881,35.633637,507.295238,26.565001,10375.250000,3.750000,2009-10-31,11.239090

In [120]:
MSOA_Resp_AP.to_csv(r'D:\Annies_Dissertation\Analysis\Regression\MSOA\MSOA_Resp_AP.csv')

In [121]:
MSOA_Resp_AP.corr()

,year,month,n,DSR,lcl,ucl,score,rank,decile,PM25
year,1.000000,-0.134903,0.001505,-0.026114,0.001340,-0.055872,-0.001798,0.001551,0.001596,-0.047807
month,-0.134903,1.000000,0.050838,-0.001377,0.014372,-0.004242,0.000393,-0.000015,0.000042,-0.215055
n,0.001505,0.050838,1.000000,0.267295,0.437180,0.147594,0.093316,-0.088794,-0.087586,-0.078445
DSR,-0.026114,-0.001377,0.267295,1.000000,0.706768,0.877927,0.333934,-0.314198,-0.312452,-0.097365
lcl,0.001340,0.014372,0.437180,0.706768,1.000000,0.383878,0.295062,-0.282847,-0.281349,-0.109426
ucl,-0.055872,-0.004242,0.147594,0.877927,0.383878,1.000000,0.263680,-0.244080,-0.243139,-0.055352
score,-0.001798,0.000393,0.093316,0.333934,0.295062,0.263680,1.000000,-0.964144,-0.961337,0.071248
rank,0.001551,-0.000015,-0.088794,-0.314198,-0.282847,-0.244080,-0.964144,1.000000,0.997576,-0.074418
decile,0.001596,0.000042,-0.087586,-0.312452,-0.281349,-0.243139,-0.961337,0.997576,1.000000,-0.073499
PM25,-0.047807,-0.215055,-0.078445,-0.097365,-0.109426,-0.055352,0.071248,-0.074418,-0.073499,1.000000