In [72]:
import numpy as np
import xarray as xr
import rasterio
%matplotlib inline
from matplotlib.pyplot import *
from glob import glob
import glob
import os
import datetime
import pandas as pd
from rasterio_to_xarray import rasterio_to_xarray, xarray_to_rasterio
from statsmodels.formula.api import ols

In [23]:
AURN_Soton = pd.read_csv(r'D:\Annies_Dissertation\Methodology\Validation\AURN\Southampton\AURN_Soton.csv')

In [34]:
AURN_Soton[:5]

             timestamp  PM25 month  year
0  2008-11-06 01:00:00  26.0    11  2008
1  2008-11-06 02:00:00  18.0    11  2008
2  2008-11-06 03:00:00  19.0    11  2008
3  2008-11-06 04:00:00  22.0    11  2008
4  2008-11-06 05:00:00  25.0    11  2008

In [25]:
AURN_Soton['month'] = AURN_Soton.timestamp.str[5:7]

In [28]:
AURN_Soton['year'] = AURN_Soton.timestamp.str[:4]

In [31]:
AURN_Soton = AURN_Soton.rename(columns={'PM2.5_Soton_Centre': 'PM25'})

In [33]:
AURN_Soton = AURN_Soton[['timestamp', 'PM25', 'month', 'year']].dropna()

In [38]:
AURN_Soton_mth = AURN_Soton.groupby(['year','month']).mean()

In [40]:
AURN_Soton_mth[:5]

                 PM25
year month
2008 11     10.478114
     12     19.876178
2009 01     22.959072
     02     16.287692
     03     14.958092

In [41]:
Circulatory_mth = pd.read_csv(r'D:\Annies_Dissertation\Analysis\Regression\HES\AllCirculatory_monthly_all.csv')

In [45]:
Circulatory_mth[:5]

,Disease,year,month,lsoa11,n,DSR,lcl,ucl,score,rank,decile
8,All Circulatory,2009,1,E01015282,5.0,887.141540,75.347672,2490.366455,71.160004,226,1
16,All Circulatory,2009,1,E01015291,7.0,216.578567,82.616661,454.142334,17.190001,16593,6
22,All Circulatory,2009,1,E01015298,6.0,191.004242,64.210968,426.672730,10.750000,23309,8
24,All Circulatory,2009,1,E01015300,5.0,257.656281,81.810043,604.937927,6.780000,28266,9
43,All Circulatory,2009,1,E01015320,10.0,771.911560,344.309540,1461.249023,8.580000,26015,8

In [44]:
Circulatory_mth = Circulatory_mth[['Disease', 'year', 'month', 'lsoa11', 'n', 'DSR','lcl','ucl','score','rank','decile']].dropna()

In [46]:
Soton_Circ = Circulatory_mth.loc[Circulatory_mth['lsoa11'] == 'E01017153']

In [47]:
Soton_Circ

,Disease,year,month,lsoa11,n,DSR,lcl,ucl,score,rank,decile
7112,All Circulatory,2009,6,E01017153,7.0,1610.695068,558.276733,3477.020264,43.07,3635,2
16473,All Circulatory,2010,1,E01017153,5.0,799.468689,141.352127,2099.193848,43.07,3635,2

# Bournemouth

In [50]:
AURN_Bmth = pd.read_csv(r'D:\Annies_Dissertation\Methodology\Validation\AURN\Bournemouth\Bournemouth2008_2014.csv')

In [55]:
AURN_Bmth = AURN_Bmth.rename(columns={'PM2.5 particulate matter (Daily measured)':'PM25'})

In [58]:
AURN_Bmth[:5]

         Date  PM25                Status month  year
0  12/03/2009   0.0  V ugm-3 (GRAV EMFAB)    03  2009
1  30/11/2009   0.0  V ugm-3 (GRAV EMFAB)    11  2009
2  25/12/2013   0.0  V ugm-3 (GRAV EMFAB)    12  2013
3  27/12/2009   1.0  V ugm-3 (GRAV EMFAB)    12  2009
4  16/02/2010   1.0  V ugm-3 (GRAV EMFAB)    02  2010

In [53]:
AURN_Bmth['month'] = AURN_Bmth.Date.str[3:5]

In [57]:
AURN_Bmth['year'] = AURN_Bmth.Date.str[6:]

In [59]:
AURN_Bmth_mth = AURN_Bmth.groupby(['year','month']).mean()

In [66]:
AURN_Bmth_mth[:5]

   year  month       PM25
0  2009      1  21.354839
1  2009      2  13.884615
2  2009      3  11.193548
3  2009      4  14.000000
4  2009      5   5.964286

In [64]:
AURN_Bmth_mth.to_csv(r'D:\Annies_Dissertation\Analysis\Regression\Validation\AURN\AURN_Bmth_mth')

In [65]:
AURN_Bmth_mth = pd.read_csv(r'D:\Annies_Dissertation\Analysis\Regression\Validation\AURN\AURN_Bmth_mth')

In [48]:
Bmth_Circ = Circulatory_mth.loc[Circulatory_mth['lsoa11'] == 'E01015315']

In [62]:
Bmth_Circ[:2]

,Disease,year,month,lsoa11,n,DSR,lcl,ucl,score,rank,decile
5509,All Circulatory,2009,5,E01015315,5.0,270.068390,82.931976,639.647156,3.95,31334,10
9594,All Circulatory,2009,8,E01015315,9.0,528.581482,231.195541,1020.800598,3.95,31334,10

In [67]:
AURN_HES_Bmth = pd.merge(Bmth_Circ, AURN_Bmth_mth, on=['year', 'month'], how='inner')

In [70]:
AURN_HES_Bmth[:5]

,Disease,year,month,lsoa11,n,DSR,lcl,ucl,score,rank,decile,PM25
0,All Circulatory,2009,5,E01015315,5.0,270.068390,82.931976,639.647156,3.95,31334,10,5.964286
1,All Circulatory,2009,8,E01015315,9.0,528.581482,231.195541,1020.800598,3.95,31334,10,4.433333
2,All Circulatory,2010,4,E01015315,5.0,230.563004,74.709770,538.360107,3.95,31334,10,5.500000
3,All Circulatory,2010,12,E01015315,6.0,337.809937,121.351570,740.137390,3.95,31334,10,14.535714
4,All Circulatory,2011,1,E01015315,7.0,392.443512,144.611053,831.941711,3.95,31334,10,7.368421

In [69]:
AURN_HES_Bmth.corr()

,year,month,n,DSR,lcl,ucl,score,rank,decile,PM25
year,1.000000,-0.342087,-0.306666,-0.316394,-0.315187,-0.313453,NaN,NaN,NaN,0.148944
month,-0.342087,1.000000,0.015763,0.094473,0.082277,0.116981,NaN,NaN,NaN,-0.226039
n,-0.306666,0.015763,1.000000,0.977751,0.988894,0.952001,NaN,NaN,NaN,0.290746
DSR,-0.316394,0.094473,0.977751,1.000000,0.994511,0.994241,NaN,NaN,NaN,0.235374
lcl,-0.315187,0.082277,0.988894,0.994511,1.000000,0.978024,NaN,NaN,NaN,0.252596
ucl,-0.313453,0.116981,0.952001,0.994241,0.978024,1.000000,NaN,NaN,NaN,0.214269
score,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
rank,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
decile,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
PM25,0.148944,-0.226039,0.290746,0.235374,0.252596,0.214269,NaN,NaN,NaN,1.000000

In [73]:
model = ols("DSR ~ PM25", data=AURN_HES_Bmth)
Circulatory_results = model.fit()
Circulatory_results.summary()

D:\Anaconda3\lib\site-packages\scipy\stats\stats.py:1557: UserWarning: kurtosistest only valid for n>=20 ... continuing anyway, n=15
  "anyway, n=%i" % int(n))

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                    DSR   R-squared:                       0.055
Model:                            OLS   Adj. R-squared:                 -0.017
Method:                 Least Squares   F-statistic:                    0.7625
Date:                Tue, 23 Aug 2016   Prob (F-statistic):              0.398
Time:                        18:39:23   Log-Likelihood:                -85.966
No. Observations:                  15   AIC:                             175.9
Df Residuals:                      13   BIC:                             177.3
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [95.0% Conf. Int.]
------------------------------------------------------------------------------
Intercept    292.8880     41.077      7.130      0.000       204.147   381.629
PM25           3.7486      4.293      0.873      0.398        -5.526    13.023
==============================================================================
Omnibus:                       13.141   Durbin-Watson:                   2.685
Prob(Omnibus):                  0.001   Jarque-Bera (JB):                9.366
Skew:                           1.572   Prob(JB):                      0.00925
Kurtosis:                       5.260   Cond. No.                         19.2
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""