In [1]:
import numpy as np
import xarray as xr
import rasterio
%matplotlib inline
from matplotlib.pyplot import *
from glob import glob
import glob
import os
import datetime
import pandas as pd
from rasterio_to_xarray import rasterio_to_xarray, xarray_to_rasterio
from statsmodels.formula.api import ols

In [2]:
AURN_Soton = pd.read_csv(r'D:\Annies_Dissertation\Methodology\Validation\AURN\Southampton\AURN_Soton.csv')

In [8]:
AURN_Soton[:5]

             timestamp  PM25 month  year
0  2008-11-06 01:00:00  26.0    11  2008
1  2008-11-06 02:00:00  18.0    11  2008
2  2008-11-06 03:00:00  19.0    11  2008
3  2008-11-06 04:00:00  22.0    11  2008
4  2008-11-06 05:00:00  25.0    11  2008

In [4]:
AURN_Soton['month'] = AURN_Soton.timestamp.str[5:7]

In [5]:
AURN_Soton['year'] = AURN_Soton.timestamp.str[:4]

In [6]:
AURN_Soton = AURN_Soton.rename(columns={'PM2.5_Soton_Centre': 'PM25'})

In [7]:
AURN_Soton = AURN_Soton[['timestamp', 'PM25', 'month', 'year']].dropna()

In [9]:
AURN_Soton_mth = AURN_Soton.groupby(['year','month']).mean()

In [10]:
AURN_Soton_mth[:5]

                 PM25
year month
2008 11     10.478114
     12     19.876178
2009 01     22.959072
     02     16.287692
     03     14.958092

In [22]:
AURN_Soton_mth.to_csv(r'D:\Annies_Dissertation\Analysis\Regression\Validation\AURN\AURN_Soton_mth')

In [23]:
AURN_Soton_mth = pd.read_csv(r'D:\Annies_Dissertation\Analysis\Regression\Validation\AURN\AURN_Soton_mth')

In [11]:
Circulatory_mth = pd.read_csv(r'D:\Annies_Dissertation\Analysis\Regression\HES\AllCirculatory_monthly_all.csv')

In [12]:
Circulatory_mth[:5]

,Unnamed: 0,Disease,year,month,lsoa11,n,DSR,lcl,ucl,score,rank,decile
0,0,All Circulatory,2009,1,E01015272,NaN,69.247604,8.247776,250.557617,11.430000,22492,7
1,1,All Circulatory,2009,1,E01015273,NaN,147.841522,3.743035,823.720154,33.619999,6665,3
2,2,All Circulatory,2009,1,E01015274,NaN,187.446503,38.159660,549.000244,20.290001,13991,5
3,3,All Circulatory,2009,1,E01015275,NaN,309.000488,59.781487,912.577209,19.780001,14447,5
4,4,All Circulatory,2009,1,E01015276,NaN,162.742996,15.881656,599.259460,26.400000,10063,4

In [13]:
Circulatory_mth = Circulatory_mth[['Disease', 'year', 'month', 'lsoa11', 'n', 'DSR','lcl','ucl','score','rank','decile']].dropna()

In [14]:
Soton_Circ = Circulatory_mth.loc[Circulatory_mth['lsoa11'] == 'E01017153']

In [15]:
Soton_Circ

,Disease,year,month,lsoa11,n,DSR,lcl,ucl,score,rank,decile
7112,All Circulatory,2009,6,E01017153,7.0,1610.695068,558.276733,3477.020264,43.07,3635,2
16473,All Circulatory,2010,1,E01017153,5.0,799.468689,141.352127,2099.193848,43.07,3635,2

In [16]:
Respiratory_mth = pd.read_csv(r'D:\Annies_Dissertation\Analysis\Regression\HES\AllRespiratory_monthly_all.csv')

In [19]:
Respiratory_mth[:5]

,Disease,year,month,lsoa11,n,DSR,lcl,ucl,score,rank,decile
2,All Respiratory,2009,1,E01015276,8.0,519.371643,196.146973,1071.320923,26.400000,10063,4
3,All Respiratory,2009,1,E01015277,6.0,607.023254,197.484589,1368.225708,35.400002,5995,2
4,All Respiratory,2009,1,E01015279,5.0,469.725189,136.399750,1128.015015,45.439999,3096,1
9,All Respiratory,2009,1,E01015285,5.0,239.129227,46.085987,620.373474,29.600000,8418,3
14,All Respiratory,2009,1,E01015290,5.0,176.565018,28.419876,469.139282,44.709999,3246,1

In [18]:
Respiratory_mth = Respiratory_mth[['Disease', 'year', 'month', 'lsoa11', 'n', 'DSR','lcl','ucl','score','rank','decile']].dropna()

In [20]:
Soton_Resp = Respiratory_mth.loc[Respiratory_mth['lsoa11'] == 'E01017153']

In [21]:
Soton_Resp

,Disease,year,month,lsoa11,n,DSR,lcl,ucl,score,rank,decile
11780,All Respiratory,2009,10,E01017153,8.0,723.704285,114.678276,1763.697632,43.07,3635,2
13123,All Respiratory,2009,11,E01017153,7.0,924.347778,223.987198,2166.344971,43.07,3635,2
30034,All Respiratory,2010,12,E01017153,6.0,844.006897,163.821167,2108.256348,43.07,3635,2
32957,All Respiratory,2011,2,E01017153,5.0,192.479034,60.353626,453.415680,43.07,3635,2
63214,All Respiratory,2013,1,E01017153,5.0,473.175629,71.647049,1266.161011,43.07,3635,2

In [24]:
AURN_HES_Soton_R = pd.merge(Soton_Resp, AURN_Soton_mth, on=['year', 'month'], how='inner')

In [25]:
AURN_HES_Soton_R.corr()

,year,month,n,DSR,lcl,ucl,score,rank,decile,PM25
year,1.000000,-0.862968,-0.847946,-0.649490,-0.698289,-0.584703,NaN,NaN,NaN,0.621440
month,-0.862968,1.000000,0.757773,0.898944,0.840360,0.874393,NaN,NaN,NaN,-0.343661
n,-0.847946,0.757773,1.000000,0.689452,0.549416,0.653616,NaN,NaN,NaN,-0.688431
DSR,-0.649490,0.898944,0.689452,1.000000,0.901336,0.994907,NaN,NaN,NaN,-0.394112
lcl,-0.698289,0.840360,0.549416,0.901336,1.000000,0.863094,NaN,NaN,NaN,-0.521431
ucl,-0.584703,0.874393,0.653616,0.994907,0.863094,1.000000,NaN,NaN,NaN,-0.319780
score,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
rank,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
decile,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
PM25,0.621440,-0.343661,-0.688431,-0.394112,-0.521431,-0.319780,NaN,NaN,NaN,1.000000

In [41]:
model = ols("DSR ~ PM25", data=AURN_HES_Soton_R)
Respiratory_results = model.fit()
Respiratory_results.summary()

D:\Anaconda3\lib\site-packages\statsmodels\stats\stattools.py:72: UserWarning: omni_normtest is not valid with less than 8 observations; 5 samples were given.
  "samples were given." % int(n))

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                    DSR   R-squared:                       0.155
Model:                            OLS   Adj. R-squared:                 -0.126
Method:                 Least Squares   F-statistic:                    0.5517
Date:                Tue, 23 Aug 2016   Prob (F-statistic):              0.512
Time:                        20:22:07   Log-Likelihood:                -34.614
No. Observations:                   5   AIC:                             73.23
Df Residuals:                       3   BIC:                             72.45
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [95.0% Conf. Int.]
------------------------------------------------------------------------------
Intercept   1117.4975    669.472      1.669      0.194     -1013.061  3248.056
PM25         -34.0683     45.869     -0.743      0.512      -180.043   111.906
==============================================================================
Omnibus:                          nan   Durbin-Watson:                   2.341
Prob(Omnibus):                    nan   Jarque-Bera (JB):                0.220
Skew:                          -0.310   Prob(JB):                        0.896
Kurtosis:                       2.180   Cond. No.                         69.2
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

# Bournemouth

In [26]:
AURN_Bmth = pd.read_csv(r'D:\Annies_Dissertation\Methodology\Validation\AURN\Bournemouth\Bournemouth2008_2014.csv')

In [27]:
AURN_Bmth = AURN_Bmth.rename(columns={'PM2.5 particulate matter (Daily measured)':'PM25'})

In [28]:
AURN_Bmth[:5]

         Date  PM25                Status
0  12/03/2009   0.0  V ugm-3 (GRAV EMFAB)
1  30/11/2009   0.0  V ugm-3 (GRAV EMFAB)
2  25/12/2013   0.0  V ugm-3 (GRAV EMFAB)
3  27/12/2009   1.0  V ugm-3 (GRAV EMFAB)
4  16/02/2010   1.0  V ugm-3 (GRAV EMFAB)

In [29]:
AURN_Bmth['month'] = AURN_Bmth.Date.str[3:5]

In [30]:
AURN_Bmth['year'] = AURN_Bmth.Date.str[6:]

In [31]:
AURN_Bmth_mth = AURN_Bmth.groupby(['year','month']).mean()

In [32]:
AURN_Bmth_mth[:5]

                 PM25
year month
2009 01     21.354839
     02     13.884615
     03     11.193548
     04     14.000000
     05      5.964286

In [33]:
AURN_Bmth_mth.to_csv(r'D:\Annies_Dissertation\Analysis\Regression\Validation\AURN\AURN_Bmth_mth')

In [34]:
AURN_Bmth_mth = pd.read_csv(r'D:\Annies_Dissertation\Analysis\Regression\Validation\AURN\AURN_Bmth_mth')

In [48]:
Bmth_Circ = Circulatory_mth.loc[Circulatory_mth['lsoa11'] == 'E01015315']

In [62]:
Bmth_Circ[:2]

,Disease,year,month,lsoa11,n,DSR,lcl,ucl,score,rank,decile
5509,All Circulatory,2009,5,E01015315,5.0,270.068390,82.931976,639.647156,3.95,31334,10
9594,All Circulatory,2009,8,E01015315,9.0,528.581482,231.195541,1020.800598,3.95,31334,10

In [67]:
AURN_HES_Bmth = pd.merge(Bmth_Circ, AURN_Bmth_mth, on=['year', 'month'], how='inner')

In [70]:
AURN_HES_Bmth[:5]

,Disease,year,month,lsoa11,n,DSR,lcl,ucl,score,rank,decile,PM25
0,All Circulatory,2009,5,E01015315,5.0,270.068390,82.931976,639.647156,3.95,31334,10,5.964286
1,All Circulatory,2009,8,E01015315,9.0,528.581482,231.195541,1020.800598,3.95,31334,10,4.433333
2,All Circulatory,2010,4,E01015315,5.0,230.563004,74.709770,538.360107,3.95,31334,10,5.500000
3,All Circulatory,2010,12,E01015315,6.0,337.809937,121.351570,740.137390,3.95,31334,10,14.535714
4,All Circulatory,2011,1,E01015315,7.0,392.443512,144.611053,831.941711,3.95,31334,10,7.368421

In [69]:
AURN_HES_Bmth.corr()

,year,month,n,DSR,lcl,ucl,score,rank,decile,PM25
year,1.000000,-0.342087,-0.306666,-0.316394,-0.315187,-0.313453,NaN,NaN,NaN,0.148944
month,-0.342087,1.000000,0.015763,0.094473,0.082277,0.116981,NaN,NaN,NaN,-0.226039
n,-0.306666,0.015763,1.000000,0.977751,0.988894,0.952001,NaN,NaN,NaN,0.290746
DSR,-0.316394,0.094473,0.977751,1.000000,0.994511,0.994241,NaN,NaN,NaN,0.235374
lcl,-0.315187,0.082277,0.988894,0.994511,1.000000,0.978024,NaN,NaN,NaN,0.252596
ucl,-0.313453,0.116981,0.952001,0.994241,0.978024,1.000000,NaN,NaN,NaN,0.214269
score,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
rank,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
decile,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
PM25,0.148944,-0.226039,0.290746,0.235374,0.252596,0.214269,NaN,NaN,NaN,1.000000

In [73]:
model = ols("DSR ~ PM25", data=AURN_HES_Bmth)
Circulatory_results = model.fit()
Circulatory_results.summary()

D:\Anaconda3\lib\site-packages\scipy\stats\stats.py:1557: UserWarning: kurtosistest only valid for n>=20 ... continuing anyway, n=15
  "anyway, n=%i" % int(n))

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                    DSR   R-squared:                       0.055
Model:                            OLS   Adj. R-squared:                 -0.017
Method:                 Least Squares   F-statistic:                    0.7625
Date:                Tue, 23 Aug 2016   Prob (F-statistic):              0.398
Time:                        18:39:23   Log-Likelihood:                -85.966
No. Observations:                  15   AIC:                             175.9
Df Residuals:                      13   BIC:                             177.3
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [95.0% Conf. Int.]
------------------------------------------------------------------------------
Intercept    292.8880     41.077      7.130      0.000       204.147   381.629
PM25           3.7486      4.293      0.873      0.398        -5.526    13.023
==============================================================================
Omnibus:                       13.141   Durbin-Watson:                   2.685
Prob(Omnibus):                  0.001   Jarque-Bera (JB):                9.366
Skew:                           1.572   Prob(JB):                      0.00925
Kurtosis:                       5.260   Cond. No.                         19.2
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [35]:
Bmth_Resp = Respiratory_mth.loc[Respiratory_mth['lsoa11'] == 'E01015315']

In [36]:
Bmth_Resp

,Disease,year,month,lsoa11,n,DSR,lcl,ucl,score,rank,decile
12882,All Respiratory,2009,11,E01015315,5.0,288.887238,93.788933,674.190063,3.95,31334,10
14248,All Respiratory,2009,12,E01015315,5.0,289.138550,88.406960,685.566650,3.95,31334,10
15704,All Respiratory,2010,1,E01015315,6.0,355.459992,117.713852,797.354675,3.95,31334,10
45539,All Respiratory,2011,12,E01015315,5.0,249.314926,78.195862,587.260742,3.95,31334,10
83179,All Respiratory,2014,4,E01015315,5.0,274.900513,83.277054,653.340820,3.95,31334,10

In [37]:
AURN_HES_Bmth_R = pd.merge(Bmth_Resp, AURN_Bmth_mth, on=['year', 'month'], how='inner')

In [38]:
AURN_HES_Bmth_R

,Disease,year,month,lsoa11,n,DSR,lcl,ucl,score,rank,decile,PM25
0,All Respiratory,2009,11,E01015315,5.0,288.887238,93.788933,674.190063,3.95,31334,10,6.400000
1,All Respiratory,2009,12,E01015315,5.0,289.138550,88.406960,685.566650,3.95,31334,10,7.833333
2,All Respiratory,2010,1,E01015315,6.0,355.459992,117.713852,797.354675,3.95,31334,10,14.419355
3,All Respiratory,2011,12,E01015315,5.0,249.314926,78.195862,587.260742,3.95,31334,10,4.903226
4,All Respiratory,2014,4,E01015315,5.0,274.900513,83.277054,653.340820,3.95,31334,10,7.716897

In [39]:
AURN_HES_Bmth_R.corr()

,year,month,n,DSR,lcl,ucl,score,rank,decile,PM25
year,1.000000e+00,-0.444976,-1.617492e-01,-3.187163e-01,-3.745942e-01,-3.134202e-01,-4.903667e-14,NaN,NaN,-1.067109e-01
month,-4.449759e-01,1.000000,-7.601514e-01,-7.022010e-01,-6.618880e-01,-6.900982e-01,0.000000e+00,NaN,NaN,-8.215030e-01
n,-1.617492e-01,-0.760151,1.000000e+00,9.106598e-01,9.258452e-01,8.657581e-01,4.440892e-16,NaN,NaN,9.454844e-01
DSR,-3.187163e-01,-0.702201,9.106598e-01,1.000000e+00,9.854624e-01,9.935910e-01,-4.859063e-16,NaN,NaN,9.621843e-01
lcl,-3.745942e-01,-0.661888,9.258452e-01,9.854624e-01,1.000000e+00,9.630197e-01,2.068937e-16,NaN,NaN,9.273933e-01
ucl,-3.134202e-01,-0.690098,8.657581e-01,9.935910e-01,9.630197e-01,1.000000e+00,-1.670886e-15,NaN,NaN,9.530606e-01
score,-4.903667e-14,0.000000,4.440892e-16,-4.859063e-16,2.068937e-16,-1.670886e-15,1.000000e+00,NaN,NaN,2.724370e-16
rank,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
decile,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
PM25,-1.067109e-01,-0.821503,9.454844e-01,9.621843e-01,9.273933e-01,9.530606e-01,2.724370e-16,NaN,NaN,1.000000e+00

In [40]:
model = ols("DSR ~ PM25", data=AURN_HES_Bmth_R)
Circulatory_results = model.fit()
Circulatory_results.summary()

D:\Anaconda3\lib\site-packages\statsmodels\stats\stattools.py:72: UserWarning: omni_normtest is not valid with less than 8 observations; 5 samples were given.
  "samples were given." % int(n))

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                    DSR   R-squared:                       0.926
Model:                            OLS   Adj. R-squared:                  0.901
Method:                 Least Squares   F-statistic:                     37.43
Date:                Tue, 23 Aug 2016   Prob (F-statistic):            0.00878
Time:                        20:20:59   Log-Likelihood:                -18.383
No. Observations:                   5   AIC:                             40.77
Df Residuals:                       3   BIC:                             39.98
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [95.0% Conf. Int.]
------------------------------------------------------------------------------
Intercept    206.0400     15.026     13.713      0.001       158.222   253.858
PM25          10.3579      1.693      6.118      0.009         4.970    15.746
==============================================================================
Omnibus:                          nan   Durbin-Watson:                   0.627
Prob(Omnibus):                    nan   Jarque-Bera (JB):                0.456
Skew:                           0.633   Prob(JB):                        0.796
Kurtosis:                       2.235   Cond. No.                         24.4
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""