In [1]:
import pandas as pd
from statsmodels.formula.api import ols

# Nomenclature
- DSR- Age-standardised rate for hospital admissions
- lcl- Lower Confidence limit
- ucl- Upper Confidence limit
- score- Index of Multiple Deprivation Score
- rank- Index of Multiple Deprivation Rank
- decile- Index of Multiple Deprivation Decile

# Merging HES with list of LSOA's that are not within 1.6km of coast
## Monthly

### Circulatory

In [2]:
Circulatory_monthly = pd.read_csv(r'D:\Annies_Dissertation\Analysis\Regression\HES\AllCirculatory_monthly_all.csv')

In [3]:
Circulatory_monthly = Circulatory_monthly[['Disease', 'year', 'month', 'n', 'DSR', 'lcl', 'ucl', 'score', 'rank', 'decile', 'lsoa11']]

In [33]:
Circulatory_monthly[:5]

,Disease,year,month,n,DSR,lcl,ucl,score,rank,decile,lsoa11
0,All Circulatory,2009,1,NaN,69.247604,8.247776,250.557617,11.430000,22492,7,E01015272
1,All Circulatory,2009,1,NaN,147.841522,3.743035,823.720154,33.619999,6665,3,E01015273
2,All Circulatory,2009,1,NaN,187.446503,38.159660,549.000244,20.290001,13991,5,E01015274
3,All Circulatory,2009,1,NaN,309.000488,59.781487,912.577209,19.780001,14447,5,E01015275
4,All Circulatory,2009,1,NaN,162.742996,15.881656,599.259460,26.400000,10063,4,E01015276

In [5]:
Coastal = pd.read_csv(r'D:\Annies_Dissertation\Analysis\Regression\Coastal\Coastal_5.csv')

In [34]:
Coastal[:5]

      lsoa11                    LSOA11NM
0  E01014869  South Gloucestershire 024B
1  E01014890  South Gloucestershire 024E
2  E01014891  South Gloucestershire 024F
3  E01015301            Bournemouth 001A
4  E01015302            Bournemouth 002A

In [7]:
Coastal = Coastal.rename(columns={'LSOA11CD':'lsoa11'})

In [8]:
Circ_Coastal = Circulatory_monthly.merge(Coastal, on='lsoa11', how = 'inner')

In [35]:
Circ_Coastal[:5]

,Disease,year,month,n,DSR,lcl,ucl,score,rank,decile,lsoa11,LSOA11NM
0,All Circulatory,2009,1,NaN,117.585571,13.604174,426.649841,18.93,15111,5,E01015301,Bournemouth 001A
1,All Circulatory,2009,2,NaN,200.200333,48.492283,525.580200,18.93,15111,5,E01015301,Bournemouth 001A
2,All Circulatory,2009,3,NaN,250.110779,43.129189,751.393860,18.93,15111,5,E01015301,Bournemouth 001A
3,All Circulatory,2009,4,NaN,37.453182,0.948231,208.675781,18.93,15111,5,E01015301,Bournemouth 001A
4,All Circulatory,2009,5,NaN,85.490967,2.164445,476.325165,18.93,15111,5,E01015301,Bournemouth 001A

In [10]:
Circ_Coastal.to_csv(r'D:\Annies_Dissertation\Analysis\Regression\Coastal\Circ_Coastal_5.csv')

### Respiratory

In [11]:
Respiratory_monthly = pd.read_csv(r'D:\Annies_Dissertation\Analysis\Regression\HES\AllRespiratory_monthly_all.csv')

In [12]:
Respiratory_monthly = Respiratory_monthly[['Disease', 'year', 'month', 'n', 'DSR', 'lcl', 'ucl', 'score', 'rank', 'decile', 'lsoa11']]

In [36]:
Respiratory_monthly[:5]

,Disease,year,month,n,DSR,lcl,ucl,score,rank,decile,lsoa11
0,All Respiratory,2009,1,NaN,78.530869,1.988227,437.546020,20.290001,13991,5,E01015274
1,All Respiratory,2009,1,NaN,198.915909,20.564419,729.030701,19.780001,14447,5,E01015275
2,All Respiratory,2009,1,8.0,519.371643,196.146973,1071.320923,26.400000,10063,4,E01015276
3,All Respiratory,2009,1,6.0,607.023254,197.484589,1368.225708,35.400002,5995,2,E01015277
4,All Respiratory,2009,1,5.0,469.725189,136.399750,1128.015015,45.439999,3096,1,E01015279

In [14]:
Resp_Coastal = Respiratory_monthly.merge(Coastal, on='lsoa11', how = 'inner')

In [37]:
Resp_Coastal[:5]

,Disease,year,month,n,DSR,lcl,ucl,score,rank,decile,lsoa11,LSOA11NM
0,All Respiratory,2009,1,NaN,141.714142,28.508238,415.884430,20.549999,13802,5,E01015302,Bournemouth 002A
1,All Respiratory,2009,2,NaN,58.520599,1.481616,326.055908,20.549999,13802,5,E01015302,Bournemouth 002A
2,All Respiratory,2009,3,NaN,154.989273,30.814402,455.725006,20.549999,13802,5,E01015302,Bournemouth 002A
3,All Respiratory,2009,4,NaN,96.468681,10.960583,350.624695,20.549999,13802,5,E01015302,Bournemouth 002A
4,All Respiratory,2009,5,NaN,58.520599,1.481616,326.055908,20.549999,13802,5,E01015302,Bournemouth 002A

In [16]:
Resp_Coastal.to_csv(r'D:\Annies_Dissertation\Analysis\Regression\Coastal\Resp_Coastal_5.csv')

## Merging Coastal HES and AP
### Reading in LSOA AP data

In [17]:
AP_Monthly = pd.read_csv(r'D:\Annies_Dissertation\Analysis\Regression\Monthly_PM25_LSOA.csv')

In [18]:
AP_Monthly = AP_Monthly.rename(columns={'LSOA':'lsoa11', 'value':'PM25'})

In [19]:
AP_Monthly = AP_Monthly[['time', 'lsoa11', 'PM25', 'month', 'year']].dropna()

### Merging

In [20]:
Circ_AP = pd.merge(Circ_Coastal, AP_Monthly, on=['year', 'month','lsoa11'], how='inner')

In [21]:
Resp_AP = pd.merge(Resp_Coastal, AP_Monthly, on=['year', 'month','lsoa11'], how='inner')

In [22]:
Circ_AP.corr()

,year,month,n,DSR,lcl,ucl,score,rank,decile,PM25
year,1.000000,-0.136313,-0.031940,-0.041680,-0.020893,-0.050614,-0.004544,0.004493,0.004173,-0.053956
month,-0.136313,1.000000,-0.000418,0.006279,0.002790,0.008397,0.000056,0.000101,0.000417,-0.196038
n,-0.031940,-0.000418,1.000000,0.364992,0.610957,0.169013,-0.027870,0.015435,0.013882,0.012438
DSR,-0.041680,0.006279,0.364992,1.000000,0.730200,0.868549,0.105266,-0.105212,-0.105000,0.001851
lcl,-0.020893,0.002790,0.610957,0.730200,1.000000,0.354405,0.066347,-0.075361,-0.074600,0.003199
ucl,-0.050614,0.008397,0.169013,0.868549,0.354405,1.000000,0.107624,-0.099629,-0.099881,0.001053
score,-0.004544,0.000056,-0.027870,0.105266,0.066347,0.107624,1.000000,-0.967557,-0.962575,0.046325
rank,0.004493,0.000101,0.015435,-0.105212,-0.075361,-0.099629,-0.967557,1.000000,0.992416,-0.037430
decile,0.004173,0.000417,0.013882,-0.105000,-0.074600,-0.099881,-0.962575,0.992416,1.000000,-0.035801
PM25,-0.053956,-0.196038,0.012438,0.001851,0.003199,0.001053,0.046325,-0.037430,-0.035801,1.000000

In [23]:
Resp_AP.corr()

,year,month,n,DSR,lcl,ucl,score,rank,decile,PM25
year,1.000000,-0.140934,0.008978,-0.002959,0.020757,-0.029983,-0.005205,0.004941,0.005144,-0.043221
month,-0.140934,1.000000,0.076622,0.008164,0.021764,0.002734,-0.000442,0.000583,0.000856,-0.211510
n,0.008978,0.076622,1.000000,0.407454,0.622319,0.216800,0.101380,-0.100153,-0.099890,-0.065204
DSR,-0.002959,0.008164,0.407454,1.000000,0.667381,0.888740,0.174901,-0.163548,-0.161657,-0.051290
lcl,0.020757,0.021764,0.622319,0.667381,1.000000,0.326997,0.190136,-0.180784,-0.178333,-0.063784
ucl,-0.029983,0.002734,0.216800,0.888740,0.326997,1.000000,0.112422,-0.100767,-0.100577,-0.022357
score,-0.005205,-0.000442,0.101380,0.174901,0.190136,0.112422,1.000000,-0.966882,-0.962399,0.055337
rank,0.004941,0.000583,-0.100153,-0.163548,-0.180784,-0.100767,-0.966882,1.000000,0.992785,-0.045980
decile,0.005144,0.000856,-0.099890,-0.161657,-0.178333,-0.100577,-0.962399,0.992785,1.000000,-0.044322
PM25,-0.043221,-0.211510,-0.065204,-0.051290,-0.063784,-0.022357,0.055337,-0.045980,-0.044322,1.000000

In [24]:
model = ols("DSR ~  PM25", data=Circ_AP)
Circulatory_results = model.fit()
Circulatory_results.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                    DSR   R-squared:                       0.000
Model:                            OLS   Adj. R-squared:                 -0.000
Method:                 Least Squares   F-statistic:                    0.1557
Date:                Sat, 10 Sep 2016   Prob (F-statistic):              0.693
Time:                        21:52:39   Log-Likelihood:            -2.9091e+05
No. Observations:               45422   AIC:                         5.818e+05
Df Residuals:                   45420   BIC:                         5.818e+05
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [95.0% Conf. Int.]
------------------------------------------------------------------------------
Intercept    182.9921      1.931     94.774      0.000       179.208   186.776
PM25           0.0592      0.150      0.395      0.693        -0.235     0.353
==============================================================================
Omnibus:                    68874.487   Durbin-Watson:                   1.718
Prob(Omnibus):                  0.000   Jarque-Bera (JB):        183774921.374
Skew:                           8.771   Prob(JB):                         0.00
Kurtosis:                     314.119   Cond. No.                         36.4
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [25]:
model = ols("DSR ~  PM25", data=Resp_AP)
Respiratory_results = model.fit()
Respiratory_results.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                    DSR   R-squared:                       0.003
Model:                            OLS   Adj. R-squared:                  0.003
Method:                 Least Squares   F-statistic:                     113.8
Date:                Sat, 10 Sep 2016   Prob (F-statistic):           1.57e-26
Time:                        21:52:43   Log-Likelihood:            -2.7228e+05
No. Observations:               43140   AIC:                         5.446e+05
Df Residuals:                   43138   BIC:                         5.446e+05
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [95.0% Conf. Int.]
------------------------------------------------------------------------------
Intercept    171.4410      1.788     95.910      0.000       167.937   174.945
PM25          -1.4898      0.140    -10.667      0.000        -1.764    -1.216
==============================================================================
Omnibus:                    67522.404   Durbin-Watson:                   1.759
Prob(Omnibus):                  0.000   Jarque-Bera (JB):        287381610.553
Skew:                           9.220   Prob(JB):                         0.00
Kurtosis:                     402.423   Cond. No.                         35.8
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

## Yearly

In [26]:
Circ_Yearly = pd.read_csv(r'D:\Annies_Dissertation\Analysis\Regression\HES\AllCirculatory_yearly_all.csv')

In [38]:
Circ_Yearly[:5]

,Unnamed: 0,Disease,year,lsoa11,n,DSR,lcl,ucl,score,rank,decile
0,0,All Circulatory,2009,E01015272,29.0,1379.819824,907.973938,2002.930054,11.430000,22492,7
1,1,All Circulatory,2009,E01015273,24.0,2712.837646,1679.499756,4116.159180,33.619999,6665,3
2,2,All Circulatory,2009,E01015274,30.0,2070.800049,1386.778442,2969.841064,20.290001,13991,5
3,3,All Circulatory,2009,E01015275,37.0,3559.793457,2480.718994,4939.573242,19.780001,14447,5
4,4,All Circulatory,2009,E01015276,15.0,1460.698853,791.767883,2447.211182,26.400000,10063,4

In [28]:
Circ_Coastal_Y = Circ_Yearly.merge(Coastal, on='lsoa11', how = 'inner')

In [39]:
Circ_Coastal_Y[:5]

,Unnamed: 0,Disease,year,lsoa11,n,DSR,lcl,ucl,score,rank,decile,LSOA11NM
0,27,All Circulatory,2009,E01015301,33.0,1912.189087,1283.139404,2728.403320,18.93,15111,5,Bournemouth 001A
1,27,All Circulatory,2010,E01015301,33.0,1932.944336,1300.952148,2752.976563,18.93,15111,5,Bournemouth 001A
2,27,All Circulatory,2011,E01015301,37.0,1981.868774,1385.458740,2744.480225,18.93,15111,5,Bournemouth 001A
3,27,All Circulatory,2012,E01015301,37.0,1923.573120,1335.414185,2675.634277,18.93,15111,5,Bournemouth 001A
4,27,All Circulatory,2013,E01015301,35.0,1822.383667,1261.149414,2545.063232,18.93,15111,5,Bournemouth 001A

In [40]:
Resp_Yearly = pd.read_csv(r'D:\Annies_Dissertation\Analysis\Regression\HES\AllRespiratory_yearly_all.csv')

In [41]:
Resp_Coastal_Y = Resp_Yearly.merge(Coastal, on='lsoa11', how = 'inner')

In [43]:
Resp_Coastal_Y[:5]

,Unnamed: 0,Disease,year,lsoa11,n,DSR,lcl,ucl,score,rank,decile,LSOA11NM
0,27,All Respiratory,2009,E01015301,16.0,930.146851,522.468079,1523.886230,18.93,15111,5,Bournemouth 001A
1,27,All Respiratory,2010,E01015301,15.0,816.386841,446.385162,1362.050415,18.93,15111,5,Bournemouth 001A
2,27,All Respiratory,2011,E01015301,19.0,1122.626465,656.222351,1780.884399,18.93,15111,5,Bournemouth 001A
3,27,All Respiratory,2012,E01015301,27.0,1651.603027,1052.388428,2451.063965,18.93,15111,5,Bournemouth 001A
4,27,All Respiratory,2013,E01015301,27.0,1634.310913,1047.590820,2417.102051,18.93,15111,5,Bournemouth 001A

In [44]:
AP_Yearly = pd.read_csv('D:\Annies_Dissertation\Analysis\Regression\Yearly_PM25_LSOA.csv')

In [45]:
AP_Yearly = AP_Yearly.rename(columns={'LSOA':'lsoa11', 'value':'PM25'})

In [46]:
AP_Yearly = AP_Yearly[['time', 'lsoa11', 'PM25', 'year']].dropna()

In [47]:
Circul_AP_Y = pd.merge(Circ_Coastal_Y, AP_Yearly, on=['year','lsoa11'], how='inner')

In [48]:
Respir_AP_Y = pd.merge(Resp_Coastal_Y, AP_Yearly, on=['year','lsoa11'], how='inner')

In [49]:
Circul_AP_Y.corr()

,Unnamed: 0,year,n,DSR,lcl,ucl,score,rank,decile,PM25
Unnamed: 0,1.000000,1.075592e-05,-0.286843,-0.200932,-0.278363,-0.090194,-1.330913e-01,1.236241e-01,1.228156e-01,-0.075190
year,0.000011,1.000000e+00,-0.005728,-0.073505,-0.049062,-0.081358,9.616132e-19,-7.645217e-20,-6.218046e-20,-0.119752
n,-0.286843,-5.728298e-03,1.000000,0.503244,0.742008,0.213912,2.668340e-02,-6.035588e-02,-5.810518e-02,0.029801
DSR,-0.200932,-7.350485e-02,0.503244,1.000000,0.865710,0.898160,2.570406e-01,-2.705507e-01,-2.687671e-01,0.061301
lcl,-0.278363,-4.906229e-02,0.742008,0.865710,1.000000,0.563348,2.432008e-01,-2.654969e-01,-2.626985e-01,0.071436
ucl,-0.090194,-8.135810e-02,0.213912,0.898160,0.563348,1.000000,2.114543e-01,-2.148219e-01,-2.141354e-01,0.040236
score,-0.133091,9.616132e-19,0.026683,0.257041,0.243201,0.211454,1.000000e+00,-9.679992e-01,-9.631367e-01,0.139782
rank,0.123624,-7.645217e-20,-0.060356,-0.270551,-0.265497,-0.214822,-9.679992e-01,1.000000e+00,9.925018e-01,-0.113146
decile,0.122816,-6.218046e-20,-0.058105,-0.268767,-0.262698,-0.214135,-9.631367e-01,9.925018e-01,1.000000e+00,-0.109506
PM25,-0.075190,-1.197516e-01,0.029801,0.061301,0.071436,0.040236,1.397821e-01,-1.131455e-01,-1.095062e-01,1.000000

In [50]:
Respir_AP_Y.corr()

,Unnamed: 0,year,n,DSR,lcl,ucl,score,rank,decile,PM25
Unnamed: 0,1.000000e+00,-9.406000e-20,-0.104451,-0.079187,-0.114604,-0.040214,-1.330909e-01,1.236237e-01,1.228155e-01,-0.075205
year,-9.406000e-20,1.000000e+00,0.092986,0.012628,0.053465,-0.022358,9.616132e-19,-7.645217e-20,-6.218046e-20,-0.119752
n,-1.044513e-01,9.298613e-02,1.000000,0.726193,0.852413,0.515110,4.235726e-01,-4.193964e-01,-4.095976e-01,0.066513
DSR,-7.918670e-02,1.262783e-02,0.726193,1.000000,0.891997,0.938261,4.652187e-01,-4.421815e-01,-4.352413e-01,0.104269
lcl,-1.146038e-01,5.346467e-02,0.852413,0.891997,1.000000,0.682293,5.049498e-01,-4.830308e-01,-4.753163e-01,0.111644
ucl,-4.021448e-02,-2.235814e-02,0.515110,0.938261,0.682293,1.000000,3.686941e-01,-3.468380e-01,-3.417827e-01,0.083641
score,-1.330909e-01,9.616132e-19,0.423573,0.465219,0.504950,0.368694,1.000000e+00,-9.679992e-01,-9.631367e-01,0.139782
rank,1.236237e-01,-7.645217e-20,-0.419396,-0.442182,-0.483031,-0.346838,-9.679992e-01,1.000000e+00,9.925018e-01,-0.113146
decile,1.228155e-01,-6.218046e-20,-0.409598,-0.435241,-0.475316,-0.341783,-9.631367e-01,9.925018e-01,1.000000e+00,-0.109506
PM25,-7.520456e-02,-1.197516e-01,0.066513,0.104269,0.111644,0.083641,1.397821e-01,-1.131455e-01,-1.095062e-01,1.000000

In [50]:
model = ols("DSR ~  PM25", data=Circul_AP_Y)
Circulatory_results = model.fit()
Circulatory_results.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                    DSR   R-squared:                       0.004
Model:                            OLS   Adj. R-squared:                  0.004
Method:                 Least Squares   F-statistic:                     15.85
Date:                Fri, 26 Aug 2016   Prob (F-statistic):           6.96e-05
Time:                        16:34:47   Log-Likelihood:                -33515.
No. Observations:                4205   AIC:                         6.703e+04
Df Residuals:                    4203   BIC:                         6.705e+04
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [95.0% Conf. Int.]
------------------------------------------------------------------------------
Intercept   1490.9333     79.847     18.672      0.000      1334.391  1647.476
PM25          25.7165      6.459      3.982      0.000        13.054    38.379
==============================================================================
Omnibus:                     1926.419   Durbin-Watson:                   1.389
Prob(Omnibus):                  0.000   Jarque-Bera (JB):            24812.680
Skew:                           1.841   Prob(JB):                         0.00
Kurtosis:                      14.316   Cond. No.                         92.0
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [51]:
model = ols("DSR ~  PM25", data=Respir_AP_Y)
Respiratory_results = model.fit()
Respiratory_results.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                    DSR   R-squared:                       0.011
Model:                            OLS   Adj. R-squared:                  0.011
Method:                 Least Squares   F-statistic:                     46.20
Date:                Fri, 26 Aug 2016   Prob (F-statistic):           1.22e-11
Time:                        16:34:51   Log-Likelihood:                -33407.
No. Observations:                4205   AIC:                         6.682e+04
Df Residuals:                    4203   BIC:                         6.683e+04
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [95.0% Conf. Int.]
------------------------------------------------------------------------------
Intercept    901.1561     77.817     11.580      0.000       748.593  1053.719
PM25          42.7831      6.295      6.797      0.000        30.442    55.124
==============================================================================
Omnibus:                     1831.150   Durbin-Watson:                   1.185
Prob(Omnibus):                  0.000   Jarque-Bera (JB):            15496.666
Skew:                           1.866   Prob(JB):                         0.00
Kurtosis:                      11.632   Cond. No.                         92.0
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""